// scss-lint:disable SelectorFormat

.submarine-mobile-1,
.submarine-mobile-3,
.submarine-mobile-6 {
  fill: $deep-sea-green;
}

.submarine-mobile-1,
.submarine-mobile-2,
.submarine-mobile-3,
.submarine-mobile-4,
.submarine-mobile-5 {
  stroke: $martinique-dark;
  stroke-width: 4px;
}

.submarine-mobile-1,
.submarine-mobile-2,
.submarine-mobile-5 {
  stroke-miterlimit: 10;
}

.submarine-mobile-2,
.submarine-mobile-4,
.submarine-mobile-8 {
  fill: $breaker-bay-green;
}

.submarine-mobile-3,
.submarine-mobile-4 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.submarine-mobile-5 {
  fill: $indian-yellow;
}

.submarine-mobile-7 {
  fill: $martinique-dark;
}

.gopher-mobile-1 {
  fill: $deep-sea-green;
}

.gopher-mobile-2 {
  fill: $martinique-dark;
}

.gopher-mobile-3 {
  fill: $breaker-bay-green;
}

.gopher-mobile-4 {
  fill: $aquamarine-blue;
}

.gopher-mobile-5 {
  fill: $sand-yellow;
}

.gopher-mobile-6 {
  fill: $gray;
}

.bubles-0 {
  fill: $deep-sea-green;
  stroke: $martinique-dark;
  stroke-miterlimit: 10;
  stroke-width: 4;
}

.bubles-1 {
  fill: $breaker-bay-green;
  stroke: $martinique-dark;
  stroke-miterlimit: 10;
  stroke-width: 4;
}
