.st-bialystok-0 {
  @include stroke();
  fill: none;
}

.st-bialystok-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $light-gray;
}

.st-bialystok-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-bialystok-2-fill {
  @include stroke($linecap: round, $linejoin: round);
  fill: $breaker-bay-green;
}

.st-bialystok-3 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-bialystok-3-fill {
  @include stroke($linecap: round, $linejoin: round);
  fill: $deep-sea-green;
}

.st-bialystok-4 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-bialystok-4-fill {
  @include stroke($linecap: round, $linejoin: round);
  fill: $damask-red;
}

.st-bialystok-5 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-bialystok-5-fill {
  @include stroke($linecap: round, $linejoin: round);
  fill: $valencia-red;
}

.st-bialystok-6 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-poznan-0 {
  @include stroke();
  fill: none;
}

.st-poznan-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $deep-sea-green;
}

.st-poznan-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $light-gray;
}

.st-poznan-3 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $indian-yellow-2;
}

.st-poznan-4 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $indian-yellow;
}

.st-poznan-5 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-warsaw-0 {
  @include stroke();
  fill: none;
}

.st-warsaw-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-warsaw-2-fill {
  fill: $indian-yellow;
}

.st-warsaw-2,
.st-warsaw-3,
.st-warsaw-4 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-warsaw-3-fill {
  fill: $deep-sea-green;
}

.st-warsaw-4-fill {
  fill: $light-gray;
}

.st-warsaw-5-fill {
  fill: $santas-gray;
}

.st-warsaw-5 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-warsaw-6-fill {
  fill: $light-gray;
}

.st-warsaw-6 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-gofer-0 {
  @include stroke();
  fill: $deep-sea-green;
}

.st-gofer-1 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-gofer-2 {
  @include stroke($martinique-dark, 8, 10);
  fill: $damask-red;
}

.st-gofer-3 {
  fill: $sand-yellow;
}

.st-gofer-4 {
  fill: $aquamarine-blue;
}

.st-gofer-5 {
  fill: $martinique-dark;
}

.st-gofer-6 {
  @include stroke($martinique-dark, 2, 10);
  fill: $light-gray;
}

.st-gofer-7 {
  @include stroke($martinique-dark, 2, 10);
  fill: $martinique-dark;
}

.st-gofer-8 {
  @include stroke($martinique-dark, 2, 10);
  fill: $sand-yellow;
}

.st-laptop-0 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-laptop-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-laptop-2 {
  @include stroke($linejoin: round);
  fill: $indian-yellow-2;
}

.st-ruby-small-0 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $maroon-red;
}

.st-pin-map-0 {
  fill: $valencia;
}
