// scss-lint:disable SelectorFormat

.is-martinique-dark {
  fill: $martinique-dark;
}

.st-fish-0 {
  @include stroke();
  fill: $deep-sea-green;
}

.st-fish-1 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-fish-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-fish-3 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $damask-red;
}

.st-fish-5 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $indian-yellow;
}

.st-fish2-0 {
  @include stroke();
  fill: $deep-sea-green;
}

.st-fish2-1 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-fish2-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-fish2-3 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $breaker-bay-green;
}

.st-fish2-5 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $indian-yellow;
}

.st-fish-in-u-0 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $damask-red;
}

.st-fish-in-u-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-octopus2-0 {
  @include stroke();
  fill: $deep-sea-green;
}

.st-octopus2-1 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-octopus2-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $damask-red;
}

.st-whale-0 {
  @include stroke();
  fill: $valencia-red;
}

.st-whale-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-whale-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $damask-red;
}

.st-submarine-1 {
  @include stroke();
  fill: $deep-sea-green;
}

.st-submarine-2 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-submarine-3 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $deep-sea-green;
}

.st-submarine-4 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $breaker-bay-green;
}

.st-submarine-5 {
  @include stroke();
  fill: $indian-yellow;
}

.st-submarine-6 {
  fill: $deep-sea-green;
}

.st-submarine-7 {
  fill: $breaker-bay-green;
}

.st-starfish-0 {
  fill: $indian-yellow;
}

.st-plant2-0 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $indian-yellow;
}

.st-plant2-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $breaker-bay-green;
}

.st-plant3-0 {
  fill: $damask-red;
}

.st-plant3-2 {
  fill: $breaker-bay-green;
}

.st-plant4-0 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $damask-red;
}

.st-plant4-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $sand-yellow;
}

.st-computer-0 {
  @include stroke();
  fill: $indian-yellow;
}

.st-computer-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-computer-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $sand-yellow;
}

.st-ruby-0 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $maroon-red;
}

.st-station-0 {
  @include stroke();
  fill: $indian-yellow;
}

.st-station-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $indian-yellow;
}

.st-station-3 {
  @include stroke();
  fill: $valencia-red;
}

.st-station-4 {
  @include stroke();
  fill: $breaker-bay-green;
}
