.st-cloud-diver-0 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $light-gray;
}

.st-cloud-diver-1 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-cloud-diver-2 {
  @include stroke();
  fill: $light-gray;
}

.st-cloud-diver-3 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-cloud-diver-4 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $deep-sea-green;
}

.st-cloud-diver-5 {
  fill: $martinique-dark;
}

.st-cloud-ruby-0 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $light-gray;
}

.st-cloud-ruby-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $maroon-red;
}

.st-cloud-ruby-2 {
  fill: $martinique-dark;
}

.st-diver-0 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $breaker-bay-green;
}

.st-diver-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $deep-sea-green;
}

.st-diver-2 {
  fill: $breaker-bay-green;
}

.st-diver-3 {
  fill: $martinique-dark;
}

.st-diver-4 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-diver-5 {
  @include stroke();
  fill: $light-gray;
}

.st-diver-6 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-fishes-0 {
  @include stroke();
  fill: $deep-sea-green;
}

.st-fishes-1 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-fishes-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: none;
}

.st-fishes-3 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $breaker-bay-green;
}

.st-fishes-4 {
  fill: $martinique-dark;
}

.st-fishes-5 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $indian-yellow;
}

.st-octopus-sm-0 {
  @include stroke();
  fill: $deep-sea-green;
}

.st-octopus-sm-1 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-octopus-sm-2 {
  fill: $martinique-dark;
}

.st-octopus-sm-3 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $damask-red;
}

.st-seafloor-0 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $damask-red;
}

.st-seafloor-1 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $sand-yellow;
}

.st-seafloor-2 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $indian-yellow;
}

.st-seafloor-3 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $breaker-bay-green;
}

.st-seafloor-4 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $cornflower-blue;
}

.st-seafloor-5 {
  fill: $damask-red;
}

.st-seafloor-6 {
  fill: $martinique-dark;
}

.st-seafloor-7 {
  fill: $indian-yellow-2;
}

.st-seafloor-8 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $maroon-red;
}

.st-seafloor-9 {
  fill: $deep-sea-green;
}

.st-seafloor-10 {
  fill: $breaker-bay-green;
}

.st-seafloor-11 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $deep-sea-green;
}

.st-seafloor-12 {
  @include stroke();
  fill: $indian-yellow;
}

.st-seafloor-13 {
  @include stroke($linecap: round, $linejoin: round);
  fill: $breaker-bay-green;
}

.st-seafloor-14 {
  @include stroke();
  fill: $deep-sea-green;
}

.st-seafloor-15 {
  @include stroke();
  fill: $breaker-bay-green;
}

.st-wave-1 {
  fill: $martinique-dark;
}

.st-wave-2 {
  fill: $martinique-dark;
}

.st-wave-3 {
  fill: $martinique-dark;
}
