.st-codeguard-logo {
  fill: $very-dark-blue;
}

.st-pipes-logo-1 {
  fill: $martinique-dark;
}

.st-pipes-logo-2 {
  fill: $santas-gray;
}

.st-pipes-logo-3 {
  fill: $breaker-bay-green;
}

.st-pipes-logo-4 {
  fill: $light-gray-2;
}
