.st-quote-0 {
  fill: $santas-gray;
}

.st-dawanda-0 {
  fill: $white;
}

.st-selecthub-0 {
  fill: $light-gray;
}

.st-selecthub-1 {
  clip-path: url('#SVGID_2_');
}

.st-selecthub-2 {
  clip-path: url('#SVGID_4_');
}

.st-selecthub-3 {
  clip-path: url('#SVGID_6_');
  fill: $light-gray;
}

.st-selecthub-4 {
  clip-path: url('#SVGID_8_');
}

.st-selecthub-5 {
  clip-path: url('#SVGID_10_');

}

.st-selecthub-6 {
  clip-path: url('#SVGID_12_');
  fill: $light-gray;
}

.st-sportslion-0 {
  fill: $light-gray;
}

.st-sportslion-1 {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill: $light-gray;
}
