.m-testimonial.bcg-mirage-dark
  .section
    .img-face.img-selecthub
    .signature
      span.font-alega-bold.color-valencia-red
        |
          Luis Hernando Blanco
      span.font-alega-regular.color-white
        |
          , Co-founder and VP at SelectHub
    blockquote.quote.quote-martinique.color-white.font-baskerville-italic
      |
        Professionalism and enthusiasm are the main
        qualities of code quest engineers. They have been
        up to the challenge and have worked with our team
        shoulder to shoulder to ensure the success of our
        project.
