.m-testimonial.bcg-dark-gray
  .section
    .img-face.img-kredytmarket
    .signature
      span.font-alega-bold.color-martinique-dark
        |
          Aleksander Widera
      span.font-alega-regular.color-white
        |
          , CEO kredytmarket
    blockquote.quote.color-martinique-dark.font-baskerville-italic
      |
        Professionalism and enthusiasm are the main
        qualities of code quest engineers. They have been
        up to the challenge and have worked with our team
        shoulder to shoulder to ensure the success of our
        project.
