meta (content="Code quest is a Ruby on Rails and iOS development studio."
property="og:title")
meta (content="website"
property="og:type")
meta (content="1028261210595998"
property="fb:app_id")
meta (content="Create great software with us"
property="og:description")
meta (content="#{root_url}#{asset_path(:images, 'common/logo-fb.png')}"
property="og:image")
meta (content="#{facebook_meta_data_url}"
property="og:url")
