meta (content="We are looking for a Growth Hacker"
property="og:title")
meta (content="website"
property="og:type")
meta (content="1028261210595998"
property="fb:app_id")
meta (content="Apply now!"
property="og:description")
meta (content="#{root_url}#{asset_path(:images, 'common/fb-growth-hacker.png')}"
property="og:image")
meta (content="#{facebook_meta_data_url}"
property="og:url")
