meta (content="We are looking for people who have a desire for writing \
quality content."
property="og:title")
meta (content="website"
property="og:type")
meta (content="1028261210595998"
property="fb:app_id")
meta (content="As the Content Writer, you will be responsible for writing \
content that help our customers learn about things that matter to them \
e.g. development of successful web or mobile applications, customer \
acquisition, growth hacking, validation of product ideas."
property="og:description")
meta (content="#{root_url}#{asset_path(:images, 'common/fb-writer.png')}"
property="og:image")
meta (content="#{facebook_meta_data_url}"
property="og:url")
