meta (content="We are looking for an Elixir/Phoenix Programmer"
property="og:title")
meta (content="website"
property="og:type")
meta (content="1028261210595998"
property="fb:app_id")
meta (content="Come join us here at codequest and build\
state-of-the-art real-time apps using Phoenix/Elixir, Go,\
Angular 2, TypeScript, RabbitMQ, Docker, etcd and all\
these new exciting things you've heard about but never\
had a chance to actually implement in a real project. "
property="og:description")
meta (content="#{root_url}#{asset_path(:images, 'common/fb-elixir.png')}"
property="og:image")
meta (content="#{facebook_meta_data_url}"
property="og:url")
