figure.team-element class=element.type
  .video-container
    video.team-member(class="color-#{element.color}"
      preload="none" loop
      poster=asset_path(:images, "team/#{element.image}.png")
      data-image=element.image
      data-name=element.name
      data-position=element.position
    )
      source(
        src=asset_path(:images, "team/#{element.image}.mp4")
        type="video/mp4"
      )
      source(
        src=asset_path(:images, "team/#{element.image}.webm")
        type="video/webm"
      )
  figcaption.figcaption
    .caption class="color-#{element.caption_color}" = element.name
