img.team-member.media-image(class="color-#{element.color}"
  src=asset_path(:images, "team/#{element.image}.png")
  data-image=element.image
  data-name=element.name
  data-position=element.position
)
