.l-blog-posts-page {
  .separator {
    height: 50px;
  }

  .m-separator-line {
    margin: 0 auto;
    width: 95%;
  }

  .blog-pagination {
    max-width: 950px;
    margin: 30px auto;
  }
}

.blog-pagination {
  @include flex-flow(row, wrap);
  @include flex-justify-content(space-around);
}

@media #{$breakpoint-tablet} {
  .l-blog-posts-page {
    .separator {
      height: 100px;
    }

    .m-separator-line {
      width: 100%;
    }
  }
  
  .blog-pagination {
    max-width: 950px;
    margin: 30px auto;
  }
}

@media #{$breakpoint-desktop} {
  .l-blog-posts-page {
    .separator {
      height: 160px;
    }
  }

  .blog-pagination {
    max-width: 950px;
    margin: 30px auto;
  }
}
