.l-job-offers {
  background: $mirage-blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  color: $white;
  font-family: $baskerville;
  font-size: 22px;

  &.m-bcg-elixir {
    background-image: url('../svg/elixir/bcg_elixir.svg');
  }

  &.m-bcg-ruby {
    background-image: url('../svg/ruby-on-rails/bcg-ruby-mobile.svg');
  }

  &.m-bcg-frontend {
    background-image: url('../svg/frontend/bcg-frontend-mobile.svg');
  }

  .apply {
    @include font(50px, 10px);
    font-family: $alega-bold;
    color: #fff;
    text-align: center;
    margin-top: 80px;
  }

  .ibg-bg {
    display: none;
  }

  .arrow {
    display: none;
    width: 100%;
    clear: both;
    position: fixed;
    bottom: 0;
  }

  .arrow-down {
    height: 60px;
    padding-bottom: 15px;
  }

  .apply-link {
    @include font(34px, 0px);
    text-transform: lowercase;
    text-align: center;
    display: block;
  }

  .form-apply {
    background-color: #1e2333;
    padding-top: 80px;
  }

  .job-title {
    font-family: $alega-bold;
    @include font(89px, 90px);
  }

  .job-list-title {
    @include font(78px, 0px);
    font-family: $alega-bold;
  }

  .job-list li {
    @include font(18px, 26px);
  }

  .job-description {
    padding-bottom: 80px;
  }

  .main-text {
    line-height: 34px;
  }

  .main-img {
    svg {
      position: relative;
      width: 100%;
      margin-top: 20px;
      max-height: 400px;
    }

    &.m-elixir {
      svg {
        left: -85px;
      }
    }

    &.m-ruby {
      svg {
        left: 30px;
      }
    }

    &.m-frontend {
      svg {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

  .strap-small {
    height: 30px;
    background-color: #20253a;
  }

  .strap {
    height: 40px;
    background-color: #24293f;
  }

  .subtitle {
    margin-top: 5%;
    font-size: 30px;
  }

  .saturn svg {
    height: 100px;
    width: 79px;
  }

  .title-white {
    font-size: 28px;
    margin-top: 20px;
  }

  .title-maroon-red {
    @include font(34px, 9px);
    float: right;
  }

  .text-bold {
    font-family: $baskerville-bold;
  }

  .title {
    width: 283px;
    margin: 0 auto;
  }

  .upload-area {
    vertical-align: middle;
    background-color: #181b28;
    padding: 7px;
    margin: 15px 0 15px;
    border-radius: 15px;
    width: 100%;
  }

  .upload {
    margin: auto;
    margin: 10px 10px;
    color: $santas-gray;
    width: 250px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media #{$breakpoint-tablet} {
  .l-job-offers {
    background-repeat: no-repeat;
    background-size: 100%;

    &.m-bcg-elixir {
      background-image: url('../svg/elixir/bcg_elixir_tablet.svg');
    }

    &.m-bcg-ruby {
      background-image: url('../svg/ruby-on-rails/bcg-ruby-tablet.svg');
    }

    &.m-bcg-frontend {
      background-image: url('../svg/frontend/bcg-frontend-tablet.svg');
    }

    .apply {
      margin-top: 130px;
    }

    .job-description {
      margin: 0 auto;
      max-width: 805px;
    }

    .job-title {
      text-align: right;

      &.m-title-elixir {
        @include font(101px, 130px);
      }

      &.m-title-ruby {
        @include font(118px, 130px);
      }

      &.m-title-frontend {
        @include font(121px, 130px);
      }
    }

    .job-list-title {
      line-height: 0px;
    }

    .main-text {
      margin: 0 auto;
      max-width: 805px;
    }

    .main-img {
      &.m-elixir {
        svg {
          height: 500px;
        }
      }
    }

    .saturn svg {
      height: 300px;
      width: 236px;
    }

    .title {
      width: 655px;
      margin-top: 35px;
    }

    .title-white {
      font-size: 40px;
    }
    .upload-area {
      display: flex;
      height: 78px;
    }

    .upload {
      margin: auto;
      margin-left: 15px;
      width: 380px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media #{$breakpoint-desktop} {
  .l-job-offers {
    background-repeat: no-repeat;
    background-size: 100%;

    &.m-bcg-elixir {
      background-image: none;
    }

    &.m-bcg-ruby {
      background-image: none;
    }

     &.m-bcg-frontend {
      background-image: none;
    }

    .ibg-bg {
      display: block;
      position: absolute;
    }

    .job-offer {
      position: relative;
    }

    .job-bcg {
      position: absolute;
      height: 2466px;
      width: 100%;
      z-index: 0;
    }

    .job-title {
      text-align: right;

      &.m-title-elixir {
        @include font(148px, 170px);
      }

      &.m-title-ruby {
        @include font(173px, 195px);
      }

      &.m-title-frontend {
        @include font(177px, 195px);
      }
    }

    .job-description {
      margin-top: 20%;
    }

    .job-list li {
      @include font(22px, 30px);
    }

    .job-wrapper {
      height: 2466px;
    }

    .title {
      width: 958px;
      margin-top: 35px;
    }

    .upload {
      margin: auto;
      margin-left: 15px;
      width: 465px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .upload-area {
      display: flex;
      height: 78px;
    }
  }
}
