.l-job-offers {
  background: $mirage-blue;
  background-repeat: no-repeat;
  background-size: 100%;
  color: $white;
  font-family: $baskerville;
  font-size: 22px;

  &.m-bcg-elixir {
    background-image: url('../svg/elixir/bcg_elixir.svg');
  }

  &.m-bcg-ruby {
    background-image: url('../svg/ruby-on-rails/bcg-ruby-mobile.svg');
  }

  &.m-bcg-frontend {
    background-image: url('../svg/frontend/bcg-frontend-mobile.svg');
  }

  &.m-bcg-ios {
    background-image: url('../svg/ios/bcg-ios-mobile.svg');
  }

  &.m-bcg-sales {
    background-image: url('../svg/sales/bcg-sales-mobile.svg');
  }

  &.m-bcg-growth {
    background-image: url('../svg/growth/bcg-growth-mobile.svg');
  }

  &.m-bcg-content {
    background-image: url('../svg/content-writer/bcg-content-mobile.svg');
  }

  .apply {
    @include font(50px, 10px);
    color: $white;
    font-family: $alega-bold;
    margin-top: 80px;
    text-align: center;
  }

  .ibg-bg {
    display: none;
  }

  .arrow {
    bottom: 0;
    clear: both;
    display: none;
    position: fixed;
    width: 100%;
  }

  .arrow-down {
    height: 60px;
    padding-bottom: 15px;
  }

  .red-link {
    @include font(34px, 0);
    text-transform: lowercase;

    &.m-center {
      display: block;
      text-align: center;
    }

    &.m-sm {
      @include font(22px, 34px);
    }

    &.m-normal {
      text-transform: none;
    }
  }

  .form-apply {
    background-color: $mirage;
    padding-top: 80px;
  }

  .job-title {
    @include font(89px, 90px);
    font-family: $alega-bold;

    &.m-title-ruby {
      @include font(80px, 84px);
    }

    &.m-title-elixir {
      @include font(80px, 84px);
    }

    &.m-title-frontend {
      @include font(74px, 78px);
    }

    &.m-title-ios {
      @include font(65px, 69px);
      margin-top: 18px;
    }

    &.m-title-sales {
      @include font(50px, 54px);
      margin: 20px 0 12px;
    }
  }

  .job-list-title {
    @include font(40px, 56px);
    font-family: $alega-bold;
  }

  .job-list li {
    @include font(18px, 26px);
  }

  .job-description {
    padding-bottom: 80px;
  }

  .main-text {
    line-height: 34px;
  }

  .main-img {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 230px;

    &.m-ios {
      width: 300px;
    }

    &.m-growth {
      @include size(180px, 300px);
    }

    &.m-ruby {
      width: 320px;
    }

    &.m-content {
      width: 300px;
    }
  }

  .strap-small {
    background-color: $ebony-clay;
    height: 30px;
  }

  .strap {
    background-color: $ebony-clay2;
    height: 40px;
  }

  .subtitle {
    font-size: 24px;
    margin-top: 7%;
  }

  .title-white {
    font-size: 28px;
    margin-top: 20px;
  }

  .title-maroon-red {
    @include font(34px, 34px);
    float: right;
    margin-bottom: 30px;
  }

  .text-bold {
    font-family: $baskerville-bold;
  }

  .title {
    margin: 0 auto;
    width: 283px;
  }

  .upload-area {
    background-color: $mirage-blue;
    border-radius: 15px;
    margin: 15px 0;
    padding: 7px;
    width: 100%;
  }

  .upload {
    color: $santas-gray;
    display: block;
    margin: 15px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 250px;
  }

  .job-offers-btn {
    width: 100%;
  }
}

@media #{$breakpoint-tablet} {
  .l-job-offers {
    background-repeat: no-repeat;
    background-size: 100%;

    &.m-bcg-elixir {
      background-image: url('../svg/elixir/bcg_elixir_tablet.svg');
    }

    &.m-bcg-ruby {
      background-image: url('../svg/ruby-on-rails/bcg-ruby-tablet.svg');
    }

    &.m-bcg-frontend {
      background-image: url('../svg/frontend/bcg-frontend-tablet.svg');
    }

    &.m-bcg-ios {
      background-image: url('../svg/ios/bcg-ios-tablet.svg');
    }

    &.m-bcg-sales {
      background-image: url('../svg/sales/bcg-sales-tablet.svg');
    }

    &.m-bcg-growth {
      background-image: url('../svg/growth/bcg-growth-tablet.svg');
    }

    &.m-bcg-content {
      background-image: url('../svg/content-writer/bcg-content-tablet.svg');
    }

    .apply {
      margin-top: 130px;
    }

    .job-description {
      margin: 0 auto;
      max-width: 805px;
    }

    .job-title {
      text-align: right;

      &.m-title-elixir {
        @include font(101px, 130px);
      }

      &.m-title-ruby {
        @include font(118px, 130px);
      }

      &.m-title-frontend {
        @include font(121px, 130px);
      }

      &.m-title-ios {
        @include font(113px, 130px);
      }

      &.m-title-sales {
        @include font(120px, 114px);
        text-align: left;
      }

      &.m-title-growth {
        @include font(106px, 116px);
        text-align: left;
      }

      &.m-title-content {
        @include font(146px, 170px);
        text-align: left;
      }
    }

    .job-list-title {
      @include font(60px, 60px);
    }

    .main-text {
      margin: 0 auto;
      max-width: 805px;
    }

    .main-img {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 400px;

      &.m-ios {
        width: 500px;
      }

      &.m-growth {
        width: 570px;
      }

      &.m-ruby {
        width: 600px;
      }

      &.m-content {
        width: 550px;
      }
    }

    .subtitle {
      font-size: 26px;
    }

    .title {
      margin-top: 35px;
      width: 655px;
    }

    .title-white {
      font-size: 40px;
    }

    .upload {
      margin: auto auto auto 15px;
      width: 380px;
    }

    .job-offers-btn {
      width: 290px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .l-job-offers {
    background-repeat: no-repeat;

    &.m-bcg-elixir {
      background-image: none;
    }

    &.m-bcg-ruby,
    &.m-bcg-frontend,
    &.m-bcg-ios,
    &.m-bcg-sales,
    &.m-bcg-growth,
    &.m-bcg-content {
      background-image: none;
    }

    .ibg-bg {
      display: block;
      position: absolute;
    }

    .job-offer {
      position: relative;
    }

    .job-bcg {
      position: absolute;
      width: 100%;
      z-index: 0;

      &.m-job-bcg-elixir {
        height: 2466px;
      }

      &.m-job-bcg-sales {
        height: 4200px;
      }

      &.m-job-bcg-growth {
        height: 2466px;
      }

      &.m-job-bcg-ruby,
      &.m-job-bcg-ios {
        height: 2100px;
      }

      &.m-job-bcg-frontend {
        height: 2300px;
      }

      &.m-job-bcg-content {
        height: 2500px;
      }
    }

    .job-wrapper {

      &.m-job-wrapper-elixir {
        height: 2466px;
      }

      &.m-job-wrapper-sales {
        height: 4200px;
      }

      &.m-job-wrapper-growth {
        height: 2466px;
      }

      &.m-job-wrapper-ruby,
      &.m-job-wrapper-ios {
        height: 2100px;
      }

      &.m-job-wrapper-frontend {
        height: 2300px;
      }

      &.m-job-wrapper-content {
        height: 2500px;
      }

    }

    .job-list-title {
      @include font(78px, 82px);
    }

    .job-title {
      text-align: right;

      &.m-title-elixir {
        @include font(148px, 170px);
      }

      &.m-title-ruby {
        @include font(173px, 195px);
      }

      &.m-title-frontend {
        @include font(177px, 195px);
      }

      &.m-title-ios {
        @include font(166px, 195px);
      }

      &.m-title-sales {
        @include font(110px, 140px);
      }

      &.m-title-growth {
        @include font(155px, 160px);
      }
    }

    .job-description {
      margin-top: 10%;
    }

    .job-list li {
      @include font(22px, 30px);
    }

    .main-img {
      display: block;
      margin: 0 auto;
      position: relative;
      width: 600px;

      &.m-ios {
        width: 600px;
      }

      &.m-ruby {
        width: 800px;
      }
    }

    .subtitle {
      font-size: 30px;
    }

    .title {
      margin-top: 35px;
      width: 958px;
    }

    .upload {
      width: 465px;
    }
  }
}
