// scss-lint:disable SelectorFormat

p,
h1 {
  margin: 0;
}

.l-landing-page {
  &.big-logo {
    background-color: $light-gray;
    height: 318px;
    position: relative;
  }

  &.phrase-with-cta-buttons {
    background-color: $martinique-dark;
    padding: 22px 10px 95px;
    z-index: -1;
  }

  .cq-logo-wrapper {
    bottom: -44vw;
    display: none;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  .cq-mobile-logo-wrapper {
    @include position(initial, 4.7%, -1.1%, 4.7%);
    bottom: -55%;
    height: 440px;
    position: absolute;
  }

  .signature-wrapper {
    text-align: center;
  }

  .landing-button {
    margin-bottom: 32px;
  }

  .button-wrapper {
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
  }
}

@media #{$mobile-landscape} {
  .l-landing-page {
    .signature-wrapper {
      line-height: initial;
    }
  }
}

@media #{$breakpoint-mobile-landscape} {
  .l-landing-page {
    .landing-button {
      margin: 0 10% 32px;
    }
  }
}

@media #{$breakpoint-tablet} {
  .l-landing-page {
    &.big-logo {
      height: 355px;
    }

    .cq-logo-wrapper {
      bottom: -105%;
      display: block;
      max-width: 763px;
    }

    .cq-mobile-logo-wrapper {
      display: none;
    }

    .button-wrapper {
      @include flex-flow(row, wrap);
      @include justify-content(center);
      padding-top: 42px;
    }

    .btn.landing-button {
      margin: 19px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .l-landing-page {
    &.big-logo {
      height: 400px;
    }

    &.lower-part {
      padding: 28px 10px 245px;
    }

    .cq-logo-wrapper {
      bottom: -115%;
      max-width: 950px;
    }

    .button-wrapper {
      padding-top: 60px;
    }
  }
}

@media #{$breakpoint-desktop-large} {
  .l-landing-page {
    .cq-logo-wrapper {
      bottom: -145.3%;
      max-width: 1200px;
    }
  }
}

@media #{$breakpoint-desktop-largest} {
  .l-landing-page {
    .cq-logo-wrapper {
      bottom: -167%;;
      max-width: 1380px;
    }
  }
}
