// scss-lint:disable SelectorFormat

html,
body {
  height: 100%;
}

p,
h1 {
  margin: 0;
}

.l-landing-page-upper-part {
  background-color: $light-gray;
  height: 57.6%;
  position: relative;
  z-index: 200;

  @media #{$breakpoint-tablet} {
    height: 60%;
  }
}

.l-landing-page-lower-part {
  background-color: $martinique-dark;
  height: 42.4%;
  position: relative;

  @media #{$breakpoint-tablet} {
    height: 40%;
  }
}

.cq-logo-wrapper {
  display: none;

  @media #{$breakpoint-tablet} {
    @include position(initial, 10vw, -5px, 10vw);
    display: block;
    position: absolute;
  }
}

.cq-mobile-logo-wrapper {
  @include position(initial, 4.7%, -1%, 4.7%);
  position: absolute;

  @media #{$breakpoint-tablet} {
    display: none;
  }
}

.signature-wrapper {
  @include position(12%, 5%, 0, 5%);
  position: absolute;
  text-align: center;

  @media #{$breakpoint-tablet} {
    @include position(9%, 6%, 0, 6%);
  }
}

.bottom-logo-wrapper {
  @include position(initial, 10%, 10.8%, 26.4%);
  color: $santas-gray;
  position: absolute;
  width: 47%;

  @media #{$breakpoint-tablet} {
    display: none;
  }
}

.hello-mail {
  @include position(11%, initial, initial, 5%);
  color: $martinique-dark;
  font-family: $alega-bold;
  font-size: 6.10vw;
  position: absolute;
  text-decoration: none;

  &:hover {
    color: $damask-red;
  }

  &:active {
    color: $martinique-dark;
  }

  @media #{$breakpoint-tablet} {
    @include position(8.15%, initial, initial, 2.2%);
    font-size: 1.72vw;
  }
}
