// scss-lint:disable SelectorFormat

html,
body {
  height: 100%;
}

p,
h1 {
  margin: 0;
}

.l-landing-page__upper-part {
  background-color: $light-gray;
  height: 60%;
  position: relative;
  z-index: 200;

  @media #{$mobile} {
    height: 57.6%;
  }
}

.l-landing-page__lower-part {
  background-color: $martinique-dark;
  height: 40%;
  position: relative;

  @media #{$mobile} {
    height: 42.4%;
  }
}

.l-landing-page-cq-logo-wrapper {
  bottom: -5px;
  left: 6%;
  position: absolute;
  right: 6%;

  @media #{$mobile} {
    display: none;
  }
}

.l-landing-page-cq-mobile-logo-wrapper {
  bottom: -1%;
  display: none;
  left: 4.7%;
  position: absolute;
  right: 4.7%;

  @media #{$mobile} {
    display: block;
  }
}

.l-landing-page-signature-wrapper {
  left: 6%;
  position: absolute;
  right: 6%;
  text-align: center;
  top: 9%;

  @media #{$mobile} {
    display: none;
  }
}

.hello-mail {
  @include font-size(26px);
  color: $martinique-dark;
  font-family: $alega-bold;
  font-size: 1.72vw;
  left: 2.2%;
  position: absolute;
  text-decoration: none;
  top: 8.15%;

  &:hover {
    color: $damask-red;
  }

  &:active {
    color: $martinique-dark;
  }
}
