.l-not-found-page {
  background-color: $light-gray;

  .m-header-elements {
    margin: 30px 6px 0 14px;

    .o-shaped-submarine {
      color: $martinique-dark;
    }
  }

  .three-states-button {
    color: $martinique-dark;
  }
}

@media #{$breakpoint-tablet} {
  .l-not-found-page {
    .m-header-elements {
      margin: 20px 46px 100px;
    }
  }
}
