.l-not-found-page {
  background-color: $light-gray;

  .m-header-elements {
    padding: 31px 13px 0;

    .o-shaped-submarine {
      color: $martinique-dark;
    }
  }

  .m-burger-button {
    color: $martinique-dark;
  }
}

@media #{$breakpoint-tablet} {
  .l-not-found-page {
    .m-header-elements {
      padding: 20px 43px 0;
    }
  }
}
