svg height='67.1px' style=('enable-background:new 0 0 38.3 67.1;') version='1.1' viewbox=('0 0 38.3 67.1') width='38.3px' x='0px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' xmlns:xlink='http://www.w3.org/1999/xlink' y='0px'
  g
    circle.st-star-0 cx='29.6' cy='22.8' r='6.8'
    circle.st-star-1 cx='15.6' cy='6.8' r='4.8'
    circle.st-star-1 cx='10.6' cy='27.3' r='3.3'
    path.st-star-2 d='M28.3,51.7c0,0-7.8,13.4-19.5,13.4c0,0,2.5-6,2.5-13.4S8.8,38.4,8.8,38.4C21.2,38.4,28.3,51.7,28.3,51.7z'
    circle.st-star-3 cx='19.6' cy='51.6' r='1.6'
    polyline.st-star-4 points='2,57.8 8.2,51.6 2.2,45.6'
