= partial 'partials/website_header', locals: {title: 'Opiekun naukowy'}
= partial 'partials/header_subtitle', locals: \
  {subtitle: 'Opiekun naukowy zadania badawczego, konsultant naukowy'}
.tutor-page
  .wrapper.medium
    .title
      h1.job-title.font-baskerville-bold.color-martinique-dark Zamówienie 1
      h1.clause.font-baskerville-bold.color-martinique-dark
        '
          (warunkowe – podpisana zostanie umowa warunkowa,
          która wejdzie w życie po otrzymaniu dofinansowania
          przez Codequest Sp. z o.o. z NCBiR)
      h2.admission.font-baskerville-regular.color-martinique-dark
        '
          dla projektu, który będzie składany w ramach:
          Programu Operacyjnego Inteligentny Rozwój 2014-2020,
      h2.admission.font-baskerville-regular.color-martinique-dark
        '
          Poddziałanie 1.1.1: Badania przemysłowe i prace rozwojowe
          realizowane przez przedsiębiorstwa, tzw. szybka ścieżka
      h3.subtitle.font-baskerville-bold.color-martinique-dark
        '
          1. Opis przedmiotu zamówienia
      h3.task.font-baskerville-bold.color-martinique-dark
        '
          Zadanie: Zastosowanie uczenia maszynowego do udoskonalenia metod
          statycznej analizy jakości oprogramowania
      p.role.font-baskerville-regular
        '
          Rola: Opiekun naukowy zadania badawczego, konsultant naukowy
      p.title-list.font-baskerville-bold.color-martinique-dark Zakres badań:
      ul.list.font-baskerville-regular.color-martinique-dark
        li Przegląd literatury
        li Opracowanie interfejsu danych z analizy statycznej
        li Opracowanie interfejsu do dostarczania danych uczących
        li Opracowanie reprezentacji danych na potrzeby modelu predykcji
        li Zebranie danych dotyczących defektów z różnych projektów
        li Ręcznie zaetykietowane zbiorów danych przez ekspertów
        li Prototyp mechanizmu automatycznej weryfikacji potencjalnych defektów
        li Budowa, ewaluacja i doskonalenie modeli predykcji
      p.title-list.font-baskerville-bold.color-martinique-dark
        '
          Do zadań osoby zatrudnionej na tym stanowisku będzie należało:
      p.description.font-baskerville-regular.color-martinique-dark
        '
          Kierowanie badaniami udoskonalenia współczesnych metod statycznej
          analizy kodu dzięki zastosowaniu metod uczenia maszynowego i
          automatycznego generowania testów.
          Zadanie obejmuje preprocessing danych z narzędzia do statycznej
          analizy wykrywającego potencjalne defekty do formatu używalnego
          przez modele predykcji, których zadaniem będzie eliminacja błędów
          pierwszego rodzaju. Modele te będą korzystały również z innych
          źródeł danych: kodu źródłowego, dostarczanego wraz z raportem o
          potencjalnych błędach oraz wiedzy reprezentującej wzorce błędów
          występujących w rzeczywistości. W ramach zadania zostanie opracowany
          adaptacyjny model predykcji umożliwiający klasyfikację potencjalnego
          defektu jako faktycznego defektu lub błędu pierwszego rodzaju oraz
          douczanie na podstawie nowej pozyskanej wiedzy. Wiedzę pozyskiwać
          będzie można z dwóch źródeł: jednym z nich będzie ocena człowieka
          (programisty), natomiast drugim - narzędzie usiłujące wykorzystać
          informację o potencjalnym defekcie do wykazania błędnego działania
          programu. Narzędzie to również wchodzi w zakres zadania badawczego,
          wykonane będzie we współpracy z min. 1 naukowcem (min. doktorantem)
          oraz przy wsparciu zespołu projektowego.
      p.title-list.font-baskerville-bold.color-martinique-dark
        '
          Wymagania formalne:
      ul.list.font-baskerville-regular.color-martinique-dark
        li
          '
            Praca na rzecz projektu w wymiarze łącznym 25h/mies. w czasie
            30 miesięcy.
        li
          '
            Udział w spotkaniu zespołu projektowego min. 1 raz w miesiącu
            (czas wliczany do czasu wskazanego w pkt. a, w cenie należy
            uwzględnić koszty dojazdu).
      p.title-list.font-baskerville-bold.color-martinique-dark
        '
          Wymagania merytoryczne:
      p.role.font-baskerville-regular.color-martinique-dark
        '
          Opracowanie efektu końcowego, we współpracy z min. jednym naukowcem
          i przy wsparciu zespołu, na który składają się:
      ul.list.font-baskerville-regular.color-martinique-dark
        li
          '
            Raport w postaci przeglądu literatury identyfikującego obiecujące
            kierunki prac.
        li
          '
            Dokumentacja formatu wymiany danych z modelem predykcji.
        li
          '
            Prototyp mechanizmu automatycznej weryfikacji potencjalnych
            defektów.
        li
          '
            Modele predykcji wskazujące które z potencjalnych defektów
            wskazywanych przez narzędzie. do statycznej analizy kodu w Javie
            mogą być w istocie błędami pierwszego rodzaju (false-positives).
        li
          '
            Zbiór danych (pochodzących z realnych projektów) zaetykietowanych
            informacją o występowaniu defektów.
      h3.subtitle.font-baskerville-bold.color-martinique-dark
        '
          2. Warunki udziału
      ul.list.font-baskerville-regular.color-martinique-dark
        li
          '
            Min. stopień doktora habilitowanego nauk technicznych w
            zakresie informatyki
        li
          '
            Doświadczenie potwierdzone min. 3 publikacjami naukowymi w
            przedmiocie zadania (zastosowanie uczenia maszynowego do
            udoskonalenia metod statycznej analizy jakości oprogramowania)
      h3.subtitle.font-baskerville-bold.color-martinique-dark
        '
          3. Kryteria oceny ofert, wagi punktowe
      ul.list.font-baskerville-regular.color-martinique-dark
        li
          '
            cena łączna – waga 60%
        li
          '
            ilość publikacji naukowych w przedmiocie zadania (zastosowanie
            uczenia maszynowego do udoskonalenia metod statycznej analizy
            jakości oprogramowania) – waga 40%
      p.role.font-baskerville-regular.color-martinique-dark
        '
          wzór obliczania pkt dla a i b: oferta/najkorzystniejsza oferta*waga
      h3.subtitle.font-baskerville-bold.color-martinique-dark
        '
          4. Termin składania ofert
      p.date.font-baskerville-regular.color-martinique-dark 28 lipca 2016 r.
      h3.subtitle.font-baskerville-bold.color-martinique-dark
        '
          5. Informacje na temat zakresu wykluczenia
      p.description.font-baskerville-regular.color-martinique-dark
        '
          W celu uniknięcia konfliktu interesów zamówienie nie może być
          udzielone podmiotom/osobom powiązanym osobowo lub kapitałowo
          z Zamawiającym.
      h3.subtitle.font-baskerville-bold.color-martinique-dark
        '
          6. Określenie warunków zmian umowy
      p.description.font-baskerville-regular.color-martinique-dark
        '
          W przypadku zmian w harmonogramie prowadzenia prac badawczych
          istnieje możliwość zmiany umowy w zakresie ilości godzin, zarówno
          zwiększenie jak i zmniejszenie zakresu zamówienia i okresu
          realizacji, do 30% poziomu określonego w zamówieniu, z
          zachowaniem współczynnika ceny obliczonej jako średni koszt
          godziny na podstawie ceny ofertowej.
      h3.subtitle.font-baskerville-bold.color-martinique-dark
        '
          7. Formularz oferty
      p.description.font-baskerville-regular.color-martinique-dark
        '
          Oferta powinna zawierać informacje o oferencie, a także o stopniu
          naukowym, doświadczeniu, listę publikacji oraz cenę brutto.
