.m-eqipia {
  .info-text {
    &.m-grid-collection {
      padding: 30px 0;
    }
  }

  .info-project {
    height: auto;
  }

  .info-text-logo {
    margin-left: 10px;
    max-width: 100px;
  }

  .logo {
    width: 180px;
  }

  .m-window-browser {
    background: url('/images/work/eqipia.png') 0 15px no-repeat;
    //background-size: 100%;
    background-size: cover;
    bottom: -30px;
    height: 61vw;
    margin: 0 auto;
    width: 94vw;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-eqipia {
    .m-window-browser {
      background: url('/images/work/eqipia.png') 0 15px no-repeat;
      background-size: cover;
      height: 50vw;
      width: 80vw;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-eqipia {
    .m-window-browser {
      background-position: -7vw 15px;
      background-size: cover;
      bottom: -9vw;
      height: 48vw;
      left: -8vw;
      margin: 0;
      width: 57vw;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-eqipia {
    .m-window-browser {
      background-position: 0 27px;
      background-size: 100%;
      bottom: -9vw;
      height: 362px;
      left: -5vw;
      margin: 0;
      width: 530px;
    }

    .info-project {
      margin-bottom: 80px;
    }
  }
}

@media #{$breakpoint-desktop-largest} {
  .m-eqipia {
    .m-window-browser {
      height: 442px;
      width: 650px;
    }
  }
}
