.m-kredytmarket {
  padding-top: 38px;

  .logo {
    width: 268px;
  }

  .m-window-browser {
    background: url('/images/work/kredytmarket.png') 0 15px no-repeat;
    background-size: cover;
    height: 600px;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-kredytmarket {
    .info-project {
      margin-bottom: 30px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-kredytmarket {
    .m-window-browser {
      background-position: 0 28px;
    }
  }
}
