svg(x="0px" y="0px" width="31.5px" height="38.5px" viewbox="0 0 31.5 38.5" style="enable-background:new 0 0 31.5 38.5;" version="1.1" xml:space="preserve")
  g
    circle.bubles-0 cx="8.8" cy="29.8" r="6.8"
    circle.bubles-1 cx="24.8" cy="14.8" r="4.8"
    circle.bubles-0 cx="9.8" cy="5.3" r="3.3"
