.bcg-aquamarine-blue {
  background: $aquamarine-blue;
}

.bcg-breaker-bay-green {
  background: $breaker-bay-green;
}

.bcg-damask-red {
  background: $damask-red;
}

.bcg-deep-sea-green {
  background: $deep-sea-green;
}

.bcg-fountain-blue {
  background: $fountain-blue;
}

.bcg-indian-yellow {
  background: $indian-yellow;
}

.bcg-indian-yellow-2 {
  background: $indian-yellow-2;
}

.bcg-maroon-red {
  background: $maroon-red;
}

.bcg-martinique-dark {
  background: $martinique-dark;
}

.bcg-santas-gray {
  background: $santas-gray;
}

.bcg-transparent {
  background: transparent;
}

.bcg-valencia-red {
  background: $valencia-red;
}
