$martinique-dark: #2B304B
$mirage-dark: #171b2b

$deep-sea-green: #24737A
$breaker-bay-green: #50AE98

$light-gray: #F6F6F6
$light-gray-2: #DEDEE0
$santas-gray: #9FA4B7

$aquamarine-blue: #73CEDD
$fountain-blue: #49b8c4

$sand-yellow: #CCAA83
$indian-yellow: #E9B258
$indian-yellow-2: #E5A548

$damask-red: #DA6346
$valencia-red: #D74138
$maroon-red: #B92745
$merlot-red: #842323