$martinique-dark: #2b304b;
$mirage-dark: #171b2b;

$deep-sea-green: #24737a;
$breaker-bay-green: #50ae98;

$gray: #f2f2f2;
$light-gray: #f6f6f6;
$light-gray-2: #dedee0;
$santas-gray: #9fa4b7;
$boj-jour-gray: #f3f1f3;

$aquamarine-blue: #73cedd;
$fountain-blue: #49b8c4;
$docker-blue: #039bc6;

$sand-yellow: #ccaa83;
$indian-yellow: #e9b258;
$indian-yellow-2: #e5a548;

$damask-red: #da6346;
$valencia-red: #d74138;
$maroon-red: #b92745;
$merlot-red: #842323;


$white: #fff;

$main-menu-bg: rgba(43, 48, 75, .99);

$close-osx-btn: #ff5c5c;
$close-osx-btn-border: #e33e41;
$minimize-osx-btn: #ffbd4c;
$minimize-osx-btn-border: #e09e3e;
$zoom-osx-btn: #00ca56;
$zoom-osx-btn-border: #14ae46;
