$martinique-dark: #2b304b;
$mirage-dark: #171b2b;

$deep-sea-green: #24737a;
$breaker-bay-green: #50ae98;

$gray: #f2f2f2;
$light-gray: #f6f6f6;
$light-gray-2: #dedee0;
$santas-gray: #9fa4b7;

$aquamarine-blue: #73cedd;
$fountain-blue: #49b8c4;
$docker-blue: #039bc6;

$sand-yellow: #ccaa83;
$indian-yellow: #e9b258;
$indian-yellow-2: #e5a548;

$damask-red: #da6346;
$valencia-red: #d74138;
$maroon-red: #b92745;
$merlot-red: #842323;
