$martinique-dark: #2b304b;
$mirage-dark: #171b2b;

$breaker-bay-green: #50ae98;
$deep-sea-green: #24737a;

$boj-jour-gray: #f3f1f3;
$gray: #f2f2f2;
$light-gray: #f6f6f6;
$light-gray-2: #dedee0;
$santas-gray: #9fa4b7;

$aquamarine-blue: #73cedd;
$cornflower-blue: #dbbea1;
$docker-blue: #039bc6;
$fountain-blue: #49b8c4;

$indian-yellow: #e9b258;
$indian-yellow-2: #e5a548;
$sand-yellow: #ccaa83;

$brick-red: #b72a47;
$crown-of-thorns: #832426;
$damask-red: #da6346;
$maroon-red: #b92745;
$merlot-red: #842323;
$valencia: #d5423d;
$valencia-red: #d74138;

$white: #fff;

$main-menu-bg: rgba(43, 48, 75, .99);

$close-osx-btn: #ff5c5c;
$close-osx-btn-border: #e33e41;
$minimize-osx-btn: #ffbd4c;
$minimize-osx-btn-border: #e09e3e;
$zoom-osx-btn: #00ca56;
$zoom-osx-btn-border: #14ae46;
