html {
  box-sizing: border-box;
  font-size: 12px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $light-gray;
  font-size: 1rem;
}

svg {
  height: 100%;
  width: 100%;
}

a,
a:hover,
a:active,
a:focus {
  outline: none;
}

a::selection {
  background-color: inherit;
}
