@include font-face('AlegaWeb', 'AlegaWeb');
@include font-face('AlegaWeb-Bold', 'AlegaWeb-Bold');
@include font-face('AlegaWeb-Light', 'AlegaWeb-Light');
@include font-face('CourierPrime', 'CourierPrime', 'ttf');
@include font-face('CourierPrime-Bold', 'CourierPrime-Bold', 'ttf');
@include font-face('CourierPrime-Italic', 'CourierPrime-Italic', 'ttf');
@include font-face('CourierPrime-Bold-Italic', 'CourierPrime-Italic-Bold', 'ttf');
@include font-face('Baskerville', 'Baskerville');
@include font-face('Baskerville-Bold', 'Baskerville-Bold');
@include font-face('Baskerville-Italic', 'Baskerville-Italic');
@include font-face('Baskerville-Italic-Bold', 'Baskerville-Italic-Bold');

$alega: 'AlegaWeb', sans-serif;
$alega-bold: 'AlegaWeb-Bold', sans-serif;
$alega-light: 'AlegaWeb-Light', sans-serif;

$courier: 'CourierPrime', serif;
$courier-bold: 'CourierPrime-Bold', serif;
$courier-italic: 'CourierPrime-Italic', serif;
$courier-italic-bold: 'CourierPrime-Bold-Italic', serif;

$courier-new: 'Courier New', $courier;

$baskerville: 'Baskerville', sans-serif;
$baskerville-bold: 'Baskerville-Bold', sans-serif;
$baskerville-italic: 'Baskerville-Italic', sans-serif;
$baskerville-bold-italic: 'Baskerville-Italic-Bold', sans-serif;
