.color-aquamarine-blue {
  color: $aquamarine-blue;
}

.color-breaker-bay-green {
  color: $breaker-bay-green;
}

.color-damask-red {
  color: $damask-red;
}

.color-deep-sea-green {
  color: $deep-sea-green;
}

.color-fountain-blue {
  color: $fountain-blue;
}

.color-indian-yellow {
  color: $indian-yellow;
}

.color-indian-yellow-2 {
  color: $indian-yellow-2;
}

.color-maroon-red {
  color: $maroon-red;
}

.color-martinique-dark {
  color: $martinique-dark;
}

.color-valencia-red {
  color: $valencia-red;
}

.color-white {
  color: $white;
}
