@include font-face('AlegaWeb', 'AlegaWeb');
@include font-face('AlegaWeb-Bold', 'AlegaWeb-Bold');
@include font-face('AlegaWeb-Light', 'AlegaWeb-Light');

$alega: 'AlegaWeb', sans-serif;
$alega-bld: 'AlegaWeb-Bold', sans-serif;
$alega-light: 'AlegaWeb-Light', sans-serif;
