.font-alega-bold {
  font-family: $alega-bold;
}

.font-alega-regular {
  font-family: $alega;
}

.font-baskerville-bold {
  font-family: $baskerville-bold;
}

.font-baskerville-regular {
  font-family: $baskerville;
}

.font-baskerville-italic {
  font-family: $baskerville-bold-italic;
}
