// here should be the main styles of the project
@include bcg-images;

.landing-page {
  .three-states-button {
    color: $martinique-dark;
  }
}

.website-page {
  .three-states-button {
    color: $light-gray;
  }
}


.fill-white {
  fill: $white;
}

.is-current-color {
  fill: currentColor;
}

.relative {
  position: relative;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.middle {
  left: 0;
  margin: 0 auto;
  right: 0;
}

.hidden {
  display: none;
}

.hidden-on-mobile {
  display: none;
}

@media #{$breakpoint-tablet} {
  .hidden-on-mobile {
    display: block;
  }
}
