// here should be the main styles of the project
@include bcg-images;

.twitter-link {
  display: inline-block;
  max-height: 33px;
  max-width: 41px;
  overflow: hidden;

  svg {
    fill: $white;
  }

  &:hover {
    svg {
      fill: $aquamarine-blue;
    }
  }

  &:active {
    svg {
      fill: $fountain-blue;
    }
  }
}

.github-link {
  display: inline-block;
  max-height: 41px;
  max-width: 41px;
  overflow: hidden;

  svg {
    fill: $white;
  }

  &:hover {
    svg {
      fill: $indian-yellow;
    }
  }

  &:active {
    svg {
      fill: $damask-red;
    }
  }
}

.facebook-link {
  display: inline-block;
  max-height: 41px;
  max-width: 41px;
  overflow: hidden;

  svg {
    fill: $white;
  }

  &:hover {
    svg {
      fill: $breaker-bay-green;
    }
  }

  &:active {
    svg {
      fill: $deep-sea-green;
    }
  }
}

.fill-white {
  fill: $white;
}

.is-current-color {
  fill: currentColor;
}

.relative {
  position: relative;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.middle {
  left: 0;
  margin: 0 auto;
  right: 0;
}

.hidden {
  display: none;
}
