// scss-lint:disable DuplicateProperty, VendorPrefix, TrailingSemicolon
@mixin stroke(
  $stroke: $martinique-dark,
  $width: 4,
  $miterlimit: 10,
  $linecap: null,
  $linejoin: null,
  $dasharray: null) {
  stroke: $stroke;
  stroke-width: $width;
  stroke-miterlimit: $miterlimit;
  stroke-linecap: $linecap;
  stroke-linejoin: $linejoin;
  stroke-dasharray: $dasharray;
}

$letters-width: 1146.4;
$letters-height: 168.9;

@mixin place-svg($width, $height, $left, $bottom) {
  position: absolute;
  left: $left * 1%;
  bottom: $bottom * 1%;
  width: calc-percent($width, $letters-width);
  height: calc-percent($height, $letters-height);
}

$logo-width: 150.39;
$logo-height: 172;

@mixin place-mobile-svg($width, $height, $left, $bottom) {
  position: absolute;
  left: $left * 1%;
  bottom: $bottom * 1%;
  width: calc-percent($width, $logo-width);
  height: calc-percent($height, $logo-height);
}

@mixin place-svg-normal($width, $left, $bottom) {
  position: absolute;
  width: $width;
  left: $left;
  bottom: $bottom;
}

$base-font-size: 12px;

@mixin font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin font-face($style-name, $file) {
  $filepath: '/stylesheets/fonts/' + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + '.woff') format('woff'),
    url($filepath + '.ttf') format('truetype');
  }
;
}

@mixin button {
  border: 4px solid $light-gray;
  border-radius: 10px;
  color: $light-gray;
  display: inline-block;
  font-size: 30px;
  font-family: $alega;
  padding: 15px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 320px;
}

@mixin button-states($base-color: $damask-red,
              $supplementary-color: $maroon-red,
              $shadow-color: '') {

  border-color: $base-color;
  border-top-width: 0;
  box-shadow: 0 -4px $base-color;
  color: $base-color;
  margin-top: 4px;

  &:hover {
    background-color: $base-color;
    color: $light-gray;
  }

  &:active {
    color: $supplementary-color;
    @if $shadow-color != '' {
      box-shadow: 0 -4px $shadow-color;
    } @else {
      box-shadow: 0 -4px $supplementary-color;
    }
  }

  @media #{$breakpoint-tablet} {
    width: 320px;
  }
}

@mixin button-grey($base-color,
                  $color: $light-gray,
                  $border: 4px solid $light-gray) {
  background-color: $base-color;
  color: $color;
  border: $border;

  &:hover {
    background-color: $color;
    color: $base-color;
  }

  &:active {
    box-shadow: none;
  }
}

@mixin link-button($font-size, $text-transform,
                   $text-decoration, $color, $font-family) {
  font-size: $font-size;
  text-transform: $text-transform;
  text-decoration: $text-decoration;
  color: $color;
  font-family: $font-family;
}

@mixin flip-horizontal() {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

@mixin flex-flow($direction, $wrap) {
  -ms-flex-direction: $direction;
  -ms-flex-wrap: $wrap;
  -webkit-flex-direction: $direction;
  -webkit-flex-wrap: $wrap;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin flex-justify-content($alignment) {
  -moz-box-pack: $alignment;
  -moz-justify-content: $alignment;
  -ms-flex-pack: $alignment;
  -webkit-box-pack: $alignment;
  -webkit-justify-content: $alignment;
  justify-content: $alignment;
}

@mixin flex-align-content($alignment) {
  align-content: $alignment;
  -webkit-align-content: $alignment;
}

@mixin flex-flex($grow, $shrink, $base) {
  -webkit-box-flex: $grow $shrink $base;
  -webkit-flex: $grow $shrink $base;
  -ms-flex: $grow $shrink $base;
  flex: $grow $shrink $base;
}

@mixin background-hover($bcg-hover) {
  &:hover {
    background: $bcg-hover;
  }
}

$images: dawanda, eqipia, foundersuite, selecthub, soothe, sportslion, taptera, soal;

@mixin bcg-images {
  @each $image in $images {
    .bcg-#{$image} {
      background: image-url('companies/#{$image}.png') center center, no-repeat;
    }
  }
}

@mixin position($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin transform($transformation) {
  -webkit-transform: $transformation;
  -ms-transform: $transformation;
  transform: $transformation;
}

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  -o-user-select: $select;
  user-select: $select;
}
