// scss-lint:disable DuplicateProperty
@mixin stroke(
  $stroke: $martinique-dark,
  $width: 4,
  $miterlimit: 10,
  $linecap: null,
  $linejoin: null) {
  stroke: $stroke;
  stroke-width: $width;
  stroke-miterlimit: $miterlimit;
  stroke-linecap: $linecap;
  stroke-linejoin: $linejoin;
}

$letters-width: 1146.4;
$letters-height: 168.9;

@mixin place-svg($width, $height, $left, $bottom) {
  position: absolute;
  left: $left * 1%;
  bottom: $bottom * 1%;
  width: calc-percent($width, $letters-width);
  height: calc-percent($height, $letters-height);
}

$base-font-size: 12px;

@mixin font-size($font-size) {
  font-size: $font-size;
  font-size: ($font-size / $base-font-size) * 1rem;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin font-face($style-name, $file, $family, $category:'') {
  $filepath: '../fonts/' + $family + '/' + $file;
  font-family: "#{$style-name}";
  src: asset-url($filepath + '.eot');
  src: asset-url($filepath + '.eot?#iefix') format('embedded-opentype'),
  asset-url($filepath + '.woff') format('woff'),
  asset-url($filepath + '.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

  %#{$style-name} {
    font: {
      @if $category != '' {
        family: "#{$style-name}", #{$category};
      } @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  };
};

@mixin button($base-color: $damask-red,
              $supplementary-color: $maroon-red,
              $shadow-color: '') {
  position: relative;
  display: inline-block;
  background-color: $white;
  border-radius: 10px;
  font-size: 30px;
  text-decoration: none;
  padding: 11px 40px;
  color: $base-color;
  border: 4px solid $base-color;

  &:hover {
    background-color: $base-color;
    color: $white;
  }

  &:active {
    color: $supplementary-color;
    @if $shadow-color != '' {
      box-shadow: 0 -4px $shadow-color;
    } @else {
      box-shadow: 0 -4px $supplementary-color;
    }
  }
}
