// Styles here apply to non-touchscreen devices only.

.no-touchevents {

  .m-cq-work-portfolio {

    .soothe {
      @include background-hover($damask-red);
    }

    .dawanda {
      @include background-hover($valencia-red);
    }

    .foundersuite {
      @include background-hover($indian-yellow-2);
    }

    .eqipia {
      @include background-hover($aquamarine-blue);
    }

    .soal {
      @include background-hover($indian-yellow);
    }

    .sports-lion {
      @include background-hover($breaker-bay-green);
    }

    .selecthub {
      @include background-hover($valencia-red);
    }

    .taptera {
      @include background-hover($martinique-dark);
    }
  }

  .m-grid-element:hover .logo {
    display: none;
  }

  .m-grid-element:hover .grid-hover {
    display: block;
  }

  .m-slider {
    display: none;
  }
}

@media #{$breakpoint-tablet} {
  .no-touchevents {
    .m-slider {
      display: block;
    }
  }
}
