.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;

  &.padding-none {
    padding: 0;
  }

  &.small {
    max-width: 830px;
    padding: 0;
  }
}

@media #{$breakpoint-tablet} {
  .wrapper {
    padding: 0 26px;

    &.small {
      padding: 0 15px;
    }

    &.medium {
      width: 60%;
    }
  }
}
