.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px;

  &.padding-none {
    padding: 0;
  }

  &.blog-desktop {
    margin: 20px auto 30px;
  }

  &.m-pb-20 {
    padding-bottom: 20px;
  }
}

@media #{$breakpoint-tablet} {
  .wrapper {
    padding: 0 26px;

    &.blog-desktop {
      margin-bottom: 30px;
      width: 50%;
    }

    &.medium {
      width: 70%;
    }
  }
}
