svg(height="25.5px" width="29.4px" style="enable-background:new 0 0 29.4 25.5;" version="1.1" viewbox="0 0 29.4 25.5"  x="0px" y="0px" xmlns="http://www.w3.org/2000/svg" xml:space="preserve")
  defs
  polygon.st-ruby-small-0 points="8.6,2 20.6,2 27.4,8.5 14.7,23.5 2,8.6 " /
