= partial 'partials/website_header', locals: {title: 'Say hello'}
= partial 'partials/header_subtitle',
          locals: {subtitle: 'Hey, come in for a coffee.'}
= partial 'partials/contact'
= partial 'partials/start_project'
