= partial 'partials/website_header', locals: {title: data.contact.title}
= partial 'partials/header_subtitle', locals: {subtitle: data.contact.subtitle}
= partial 'partials/contact'
.m-start-project.indian-yellow
  = partial 'partials/start_project', locals: {wave_color: 'diserria-yellow'}
