= partial 'partials/landing/landing_big_logo'
= partial 'partials/landing/landing_phrase_with_cta_buttons'
= partial 'partials/landing/landing_portfolio'
= partial 'partials/landing/landing_own_products'
= partial 'partials/landing/landing_team'
= partial 'partials/landing/landing_blog_section'
