// scss-lint:disable SelectorFormat

.btn {

  @include button;
  &.damask-red-light-gray {
  @include button-with-color($damask-red);
  }

  &.yellow-bcg {
    background-color: $indian-yellow;
  }

  &.small {
    width: 218px;
  }

  &.martinique_dark {
    @include button-with-color($martinique-dark);
   }

  @media #{$breakpoint-tablet} {
    &.damask-red-light-gray {
      @include button-with-color($damask-red);
    }
  }
}

// Styles here apply to non-touchscreen devices only.
.no-touchevents {

  .btn {
    &.btn-grey-sea-green {
      @include button-hover($deep-sea-green);
    }

    &.btn-maroon-red {
      @include button-hover($maroon-red);
    }

    &.btn-indian-yellow {
      @include button-hover($indian-yellow-2);
    }

    &.btn-breaker-bay-green {
      @include button-hover($breaker-bay-green);
    }

    @media #{$breakpoint-tablet} {
      &.damask-red-light-gray {
        @include button-with-color(
          $base-color: $damask-red);
        @include button-with-color-states(
          $base-color: $damask-red,
          $color-hover: $light-gray,
          $supplementary-color: $valencia-red,
          $shadow-color: $valencia-red);
      }

      &.gray-aquamarine-blue {
        @include button-with-color-states(
          $base-color: $light-gray,
          $color-hover: $aquamarine-blue,
          $shadow-color: $light-gray-2,
          $supplementary-color: $docker-blue);
      }

      &.gray-damask-red {
        @include button-with-color-states(
          $base-color: $light-gray,
          $color-hover: $damask-red,
          $shadow-color: $light-gray-2,
          $supplementary-color: $valencia-red);
      }

      &.gray-indian-yellow {
        @include button-with-color-states(
          $base-color: $light-gray,
          $color-hover: $indian-yellow,
          $shadow-color: $light-gray-2,
          $supplementary-color: $indian-yellow-2);
      }

      &.gray-indian-yellow-2 {
        @include button-with-color-states(
          $base-color: $light-gray,
          $color-hover: $indian-yellow-2,
          $shadow-color: $light-gray-2,
          $supplementary-color: $docker-blue);
      }

      &.gray-martinique_dark {
        @include button-with-color-states(
          $base-color: $light-gray,
          $color-hover: $martinique-dark,
          $shadow-color: $light-gray-2,
          $supplementary-color: $mirage-dark);
      }

      &.gray-valencia-red {
        @include button-with-color-states(
          $base-color: $light-gray,
          $color-hover: $valencia-red,
          $shadow-color: $light-gray-2,
          $supplementary-color: $maroon-red);
      }

      &.gray-breaker-bay-green {
        @include button-with-color-states(
          $base-color: $light-gray,
          $color-hover: $breaker-bay-green,
          $shadow-color: $light-gray-2,
          $supplementary-color: $deep-sea-green);
      }

      &.martinique_dark {
        @include button-with-color-states(
          $base-color: $martinique-dark,
          $shadow-color: $mirage-dark,
          $supplementary-color: $santas-gray);
      }
    }
  }
}

.no-button {
  background: transparent;
  border: 0;
  outline: none;
}

.link-btn {
  @include link-button(18px, capitalize, none, $alega-bold);

  &.red {
    @include link-states($brick-red, $crown-of-thorns, $brick-red);
    color: $valencia;
  }
}
