.m-blog-posts-container {
  margin: 20px auto 0;
  max-width: 300px;

  &.m-large {
    margin: 0 auto;
    max-width: 320px;
  }
}

@media #{$breakpoint-tablet} {
  .m-blog-posts-container {
    margin-top: 50px;
    max-width: 740px;

    &.m-large {
      max-width: 726px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-blog-posts-container {
    margin-top: 50px;
    max-width: 950px;

    &.m-large {
      max-width: 948px;
    }
  }
}
