// scss-lint:disable SelectorFormat
.btn {

  @include button;

  &.damask-red {
    @include button($damask-red);
  }

  &.martinique-dark {
    @include button($martinique-dark);
  }

  &.crail-red-wave {
    @include btn-click($crail-red);
  }

  &.breaker-bay-green {
    @include button($breaker-bay-green);
  }

  &.small {
    width: 218px;
  }

  &.medium {
    width: 100%;
  }
}

// Styles here apply to non-touchscreen devices only.
.no-touchevents {

  .btn {

    @include btn-wave;

    @media #{$breakpoint-tablet} {

      &.indian-yellow {
        @include button($indian-yellow);
      }

      &.breaker-bay-green {
        @include button($breaker-bay-green);
      }

      @include btn-wave;
    }
  }
}

.link-btn {
  @include link-button(18px, capitalize, none, $alega-bold);

  &.red {
    @include link-states($brick-red, $crown-of-thorns, $brick-red);
    color: $valencia;
  }
}
