.add-to-any-placement {
  background-color: $light-gray-2;
  height: 72px;
  padding: 22px 12px;
  margin-left: -12px;
  margin-right: -12px;
  /*width: auto;*/
  /*margin: -22px -12px;*/
/*  padding-right: 7px;*/
  /*position: relative;*/
  width: 100%;

  .mobile-text {
    color: $santas-gray;
    font-family: $alega;
    font-size: 26px;
    float: left;
/*    left: -6px;
    position: absolute;
    top: -4px;*/
  }

/*  .social-media {
    float: right;
  }*/
}

.blog-content {
  color: $martinique-dark;
  font-family: $baskerville;
  margin: 22px 12px;

  h2 {
    font-size: 34px;
    font-weight: 900;
    margin: 25px 23px;
  }

  h3 {
    font-size: 27px;
    font-weight: 700;
    margin: 22px 15px;
    text-indent: 8px;
  }

  ul {
    @include font(16px, 1.7);

  }

  p {
    @include font(16px, 1.7);
    text-align: justify;
    text-indent: 23px;
  }

  blockquote {
    margin: 0 auto 15px;
    padding: 100px 300px;
    position: relative;
    quotes: '“' '”' '‘' '’';
    text-indent: -1.7vw;

    p {
      @include font(3vw, 4vw);
      color: $martinique-dark;
      font-family: $baskerville;
      font-style: italic;
      font-weight: bold;
      text-align: initial;
    }
  }

  blockquote::before {
    content: open-quote;
    left: 0;
    top: 0;
  }

  blockquote::after {
    content: close-quote;
    right: 0;
  }

  blockquote::after,
  blockquote::before {
    color: $valencia-red;
    font-size: 15vw;
    display: block;
    position: absolute;
  }

  a {
    color: $valencia-red;
    text-decoration: none;
  }

  code {
    background-color: $light-gray-2;
    border: 3px solid $santas-gray;
    border-radius: 4px;
    display: block;
    font-family: $courier;
    padding: 14px 18px;
    text-align: left;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .add-to-any-placement {
    height: 88px;
/*    padding-right: 10px;*/
    width: 100%;

    a {
      width: 50px;
    }

    .mobile-text {
      font-size: 30px;
      /*left: -6px;
      top: 1px;*/
    }
  }
}

@media #{$breakpoint-tablet} {
  .add-to-any-placement {
    height: 88px;
/*    margin-bottom: -74px;
    margin-top: 30px;   */
/*    padding-right: 23px;*/
    width: 100%;

    a {
      width: 50px;
    }

    .mobile-text {
      font-size: 30px;
/*      left: 47px;
      top: -9px;*/
    }
  }

  .blog-content {
    margin: 74px auto;

    ul {
      font-size: 20px;
      margin: 30px auto;
    }

    p {
      font-size: 20px;
      text-indent: 1.4vw;
    }

    h2 {
      font-size: 42px;
      font-weight: 900;
      margin: 35px auto;
    }

    h3 {
      font-size: 32px;
      font-weight: 700;
      margin: 33px auto;
      text-indent: 1.4vw;
    }


    blockquote {
      @include font(3.5vw, 1);
      color: $martinique-dark;
      font-family: $baskerville-italic;
    }

    blockquote::after,
    blockquote::before {
      color: $valencia-red;
      font-size: 15vw;
    }
  }
}


@media #{$breakpoint-desktop} {
  .add-to-any-placement {
    @include flex-flow(column, nowrap);
    background-color: $light-gray;
    height: 180px;
    padding-right: 0;
    position: absolute;
    right: 18vw;
    top: -3vw;
    width: 40px;

    a {
      height: 46px;
      width: 0;
    }

    .mobile-text {
      display: none;
    }
  }

  .blog-content {
    margin: 74px auto;
    position: relative;

    a {
      @include link-states($brick-red, $brick-red, $valencia-red);
    }

    blockquote {
      @include font(3.5vw, 1);
      color: $martinique-dark;
      font-family: $baskerville-italic;
    }

    blockquote::after,
    blockquote::before {
      color: $valencia-red;
      font-size: 15vw;
    }
  }
}
