.m-blog-post {
  font-family: $alega;

  .article {
    text-decoration: none;

    &.red {
      color: $valencia-red;
    }

    &.yellow {
      color: $indian-yellow;
    }

    &.sea-green {
      color: $deep-sea-green;
    }

    &.light-green {
      color: $breaker-bay-green;
    }
  }

  .content {
    height: 360px;
  }

  .m-decorator {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 122px;
  }

  .read-more {
    font-size: 16px;
    margin: 20px 0;
  }

  .author {
    color: $valencia-red;
    font-size: 18px;
    margin: 9px 0 0 10px;
    position: absolute;
  }

  .date {
    border-radius: 60px;
    color: $martinique-dark;
    font-family: $alega-bold;
    font-size: 13px;
    z-index: 1;

    &.m-big-post {
      font-size: 16px;
    }
  }


  .image {
    position: relative;

    img {
      max-width: 300px;
    }
  }

  .image-author img {
    @include size(35px, 35px);
    border-radius: 50%;
  }

  .post {
    display: block;
    margin: 10px 0;
    width: 300px;

    &.m-big-post {
      margin-bottom: 20px;
      margin-left: 0;
      margin-top: 50px;
      width: 320px;
    }
  }

  .post-detail {
    margin: 0 auto;
    position: relative;
    top: -20px;
    width: 240px;

    &.m-big-post {
      top: 0;
      width: 280px;
    }
  }

  .summary {
    @include font(14px, 180%);
    color: $martinique-dark;
    font-family: $baskerville;
    margin: 12px 0;
    text-align: justify;

    &.m-big-post {
      font-size: 16px;
    }
  }

  .subtitle {
    color: $martinique-dark;
    font-family: $alega-bold;
    z-index: 1;

    &.m-big-post {
      font-size: 16px;
    }
  }

  .title {
    @include font(20px, 122%);
    color: currentColor;
    margin: 10px 0;

    &.m-big-post {
      font-size: 30px;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-blog-post {
    &.m-big-post {
      margin: 80px 0 20px;
    }

    .m-decorator {
      top: 120px;
    }

    &:hover {
      .read-more {
        text-decoration: underline;
      }
    }

    .author {
      margin-left: 15px;
      margin-top: 25px;
    }

    .image img {
      max-width: 320px;
    }

    .image-author img {
      @include size(60px, 60px);
    }

    .post {
      margin: 0 20px;
      width: 316px;

      &.m-big-post {
        margin-top: 30px;
        width: 100%;
      }
    }

    .post-detail {
      top: -30px;

      &.m-big-post {
        width: 100%;
      }
    }

    .summary {
      @include font(16px, 180%);
    }

    .title {
      @include font(24px, 122%);
    }
  }

  .no-touchevents {
    .m-blog-post {
      .m-decorator {
        @include transition(all 1s cubic-bezier(.16, .53, .15, .99) 0s);
      }

      &:hover .m-decorator {
        @include transform(skewY(5deg));
        @include transition(all 1s cubic-bezier(.16, .53, .15, .99) 0s);
      }
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-blog-post {
    &.m-big-post {
      margin: 80px 0 30px;
    }

    .m-decorator {
      top: 144px;
    }

    .date {
      font-size: 16px;

      &.m-big-post {
        font-size: 20px;
      }
    }

    .author {
      font-size: 20px;
      margin-top: 26px;

      &.m-big-post {
        font-size: 26px;
      }
    }

    .image img {
      max-width: 400px;
    }

    .image-author img {
      @include size(70px, 70px);
    }

    .post {
      margin: 0 30px;
      width: 400px;

      &.m-big-post {
        margin-top: 0;
      }
    }

    .post-detail {
      top: -56px;
      width: 300px;
    }

    .summary {
      @include font(18px, 180%);
      color: $martinique-dark;
      font-family: $baskerville;

      &.m-big-post {
        font-size: 22px;
      }
    }

    .subtitle {
      font-size: 16px;

      &.m-big-post {
        font-size: 20px;
      }
    }

    .title {
      @include font(34px, 122%);

      &.m-big-post {
        font-size: 44px;
      }
    }

    .read-more {
      font-size: 20px;
      margin: 15px 0 20px;
    }
  }
}
