.m-blog-header {
  background-color: $valencia-red;
  color: $martinique-dark;
  font-family: $alega;
  min-height: 170px;
  padding: 5px 5px 5px 0;
  position: relative;
  width: 100%;

  &.red {
    background-color: $valencia-red;

    .info {
      border-top: 2px solid $merlot-red;
      color: $merlot-red;
    }
  }

  &.yellow {
    background-color: $indian-yellow;

    .info {
      border-top: 2px solid $damask-red;
      color: $damask-red;
    }
  }

  &.sea-green {
    background-color: $deep-sea-green;

    .info {
      border-top: 2px solid $martinique-dark;
      color: $martinique-dark;
    }
  }

  &.light-green {
    background-color: $breaker-bay-green;

    .info {
      border-top: 2px solid $deep-sea-green;
      color: $deep-sea-green;
    }
  }

  .details {
    font-family: $alega;
    margin: 1vw auto;
    width: 90%;
  }

  .title {
    font-size: 30px;
    line-height: 1.2;
    margin: 5px 0;
  }

  .tags {
    font-size: 12px;
  }

  .info {
    @include flex-flow(row, nowrap);
    @include flex-justify-content(space-between);
    align-items: baseline;
    padding: 12px 0 7px;
  }
}

@media #{$breakpoint-tablet} {
  .m-blog-header {

    .details {
      margin: 0 auto;
      width: 60%;
    }

    .tags {
      font-size: 14px;
    }

    .title {
      font-size: 3.8vw;
      margin: 10px auto;
    }

    .info {
      font-size: 14px;
    }
  }

}
