.add-to-any-placement {
  @include flex-flow(row, wrap);
  @include flex-justify-content(flex-end);
  align-items: center;
  background-color: $light-gray-2;
  height: 72px;
  padding-right: 7px;
  position: relative;

  .mobile-text {
    color: $santas-gray;
    font-family: $alega;
    font-size: 26px;
    left: 10px;
    position: absolute;
    top: 24px;
  }
}

.blog_content {
  font-family: $baskerville;
  margin: 22px 12px;
  text-align: justify;

  p {
    @include font(14px, 1.7);
    margin: 22px 0;
    text-indent: 23px;
  }

  a {
    color: $valencia-red;
    text-decoration: none;
  }

  code {
    background-color: $light-gray-2;
    border: 3px solid $santas-gray;
    border-radius: 4px;
    display: block;
    font-family: $courier;
    padding: 14px 18px;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .add-to-any-placement {
    height: 88px;
    padding-right: 10px;

    a {
      width: 50px;
    }

    .mobile-text {
      font-size: 30x;
      left: 18px;
      top: 30px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .add-to-any-placement {
    @include flex-flow(column, nowrap);
    background-color: $light-gray;
    height: 185px;
    padding-right: 0px;
    position: fixed;
    right: 18vw;
    top: 27vw;

    a {
      height: 46px;
      width: 0px;
    }

    .mobile-text {
      display: none;
    }
  }

  .blog_content {
    margin: 74px auto;

    p {
      font-size: 1.4vw;
      margin: 30px auto;
      text-indent: 1.4vw;
      width: 60%;
    }

    a {
      @include link-states($brick-red, $brick-red, $valencia-red);
    }

    .citation {
      @include font(3.5vw, 1);
      color: $martinique-dark;
      font-family: $baskerville-italic;
      margin: 0 auto 10vw;
      quotes: '“' '”' '‘' '’';
      text-indent: -1.7vw;
      width: 45%;
    }

    .citation::before {
      content: open-quote;
      display: inline-block;
      height: 1px;
      right: 30px;
      top: 56px;
    }

    .citation::after {
      bottom: 30px;
      content: close-quote;
      display: block;
      height: 1px;
      left: 40vw;
    }

    .citation::after,
    .citation::before {
      color: $valencia-red;
      font-size: 15vw;
      position: relative;
    }
  }
}
