// scss-lint:disable SelectorFormat

.btn {

  @include button;

  &.yellow-bcg {
    background-color: $indian-yellow;
  }

  &.small {
    width: 218px;
  }

  &.martinique_dark {
    @include button-with-color($martinique-dark);
   }

  &.permanent_color {
    @include button-with-color;
  }

  @media #{$breakpoint-tablet} {
    &.damask_red {
      @include button-with-color($damask-red);
    }
  }
}

// Styles here apply to non-touchscreen devices only.
.no-touchevents {

  .btn {
    &.btn-grey-sea-green {
      @include button-hover($deep-sea-green);
    }

    &.btn-maroon-red {
      @include button-hover($maroon-red);
    }

    &.btn-indian-yellow {
      @include button-hover($indian-yellow-2);
    }

    &.btn-breaker-bay-green {
      @include button-hover($breaker-bay-green);
    }

    @media #{$breakpoint-tablet} {
      &.damask_red ,
      &.permanent_color {
        @include button-with-color-states($damask-red);
      }

      &.martinique_dark {
        @include button-with-color-states($martinique-dark);
      }
    }
  }
}


.three-states-button {
  position: relative;
  z-index: 201;

  > div {
    position: relative;
    z-index: -1;
  }

  .hover-state,
  .clicked-state {
    display: none;
  }
}

.three-states-button:hover {
  .normal-state,
  .clicked-state {
    display: none;
  }

  .hover-state {
    display: block;
  }
}

.three-states-button:active {
  .normal-state,
  .hover-state {
    display: none;
  }

  .clicked-state {
    display: block;
  }
}

.no-button {
  background: transparent;
  border: 0;
  outline: none;
}

.link-btn {
  @include link-button(18px, capitalize, none, $alega-bold);

  &.red {
    @include link-states($brick-red, $crown-of-thorns, $brick-red);
    color: $valencia;
  }
}
