// scss-lint:disable SelectorFormat
// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

.m-close-button {
  @include size(23px, 23px);
  @include reset-styles();
  color: inherit;
  cursor: pointer;
  margin: 20px 30px 0;

  svg * {
    fill: $light-gray;
  }

  .arrow-btn {
    @include size(100%, 100%);
    display: block;
    position: relative;

    .burger-close-line-1,
    .burger-close-line-2,
    .burger-close-dot,
    .burger-close-arrow-center,
    .burger-close-arrow-blade-1,
    .burger-close-arrow-blade-2,
    .burger-close-arrow-dot {
      background: currentColor;
      border-radius: 4px;
      height: 4px;
      position: absolute;
      transition: all .1s ease-in-out;
    }

    .burger-close-line-1,
    .burger-close-line-2,
    .burger-close-dot {
      transition-delay: .1s;
    }

    .burger-close-line-1 {
      right: -4px;
      top: 14px;
      transform: rotate(-45deg);
      width: 39px;
    }

    .burger-close-line-2 {
      right: 2px;
      top: 12px;
      transform: rotate(45deg);
      width: 32px;
    }

    .burger-close-dot {
      right: 1px;
      top: 27px;
      transform: rotate(-45deg);
      width: 4px;
    }

    .burger-close-arrow-center {
      right: 13px;
      top: 15px;
      width: 4px;
    }

    .burger-close-arrow-blade-1,
    .burger-close-arrow-blade-2,
    .burger-close-arrow-dot {
      opacity: 0;
      right: -4px;
      top: 15px;
      width: 4px;
    }
  }
}

.no-touchevents {
  .m-close-button {
    .arrow-btn {
      &:hover {
        .burger-close-line-1,
        .burger-close-line-2 {
          right: 13px;
          top: 15px;
          width: 4px;
        }

        .burger-close-arrow-center,
        .burger-close-arrow-blade-1,
        .burger-close-arrow-blade-2,
        .burger-close-arrow-dot,
        .burger-close-line-1,
        .burger-close-line-2 {
          transition: all .07s ease-in-out;
        }

        .burger-close-arrow-blade-1,
        .burger-close-arrow-blade-2,
        .burger-close-arrow-dot {
          opacity: 1;
        }

        .burger-close-dot {
          right: 13px;
          top: 15px;
          transition: all .035s ease-in-out;
        }

        .burger-close-arrow-center {
          right: -3px;
          top: 15px;
          transition-delay: .07s;
          width: 36px;
        }

        .burger-close-arrow-blade-1 {
          right: -7px;
          top: 9px;
          transform: rotate(45deg);
          transition-delay: .14s;
          width: 22px;
        }

        .burger-close-arrow-blade-2 {
          right: -6px;
          top: 19px;
          transform: rotate(-45deg);
          transition-delay: .14s;
          width: 15px;
        }

        .burger-close-arrow-dot {
          right: 8px;
          top: 28px;
          transition-delay: .2s;
        }
      }
    }
  }
}
