// scss-lint:disable SelectorFormat

.m-cq-mobile-logo {
  color: $martinique-dark;
  margin: 0 auto;
  position: relative;
  width: 39.6vw;

  &.from_header {
    color: $light-gray;
    display: block;
    height: 45px;
    margin-left: 26px;
    margin-top: 6px;
    width: 45px;

    &:hover {
      opacity: .8;
    }

    @media #{$mobile} {
      height: 30px;
      margin-left: 13px;
      margin-top: 25px;
      width: 30px;
    }
  }

  .gopher {
    @include place-mobile-svg(48.39, 108.5, 122, 59);
  }

  .fish {
    @include place-mobile-svg(64.2, 76.3, 62.5, 100.5);
  }

  .ufo {
    @include place-mobile-svg(71.1, 56.8, 94.5, .5);
  }

  .ruby {
    @include place-mobile-svg(56.5, 66.4, -33.5, -2);
  }

  .plant {
    @include place-mobile-svg(39.9, 108, 26.5, .7);
  }

  .submarine {
    @include place-mobile-svg(104.27, 96.19, -62, 86);
  }

  .bubles {
    @include place-mobile-svg(31.5, 38.5, 47, 46);
  }
}

@import '../states/s-cq-mobile-logo';
