.m-contact {
  color: $martinique-dark;
  font-family: $courier;
  text-align: center;
  line-height: 22px;
  padding: 142px 0 114px 0;
  font-size: 16px;
  background: $light-gray;

  .break-display-none {
    display: none;
  }

}

.contact-offices {
  margin-top: 50px;
  padding: 0;

  .icon-pin-map,
  .btn-text {
    display: table-cell;
    vertical-align: middle;
  }

  .icon-pin-map {
    padding-right: 10px;
  }

}

.contact-offices-element {
  display: block;
  vertical-align: top;
  padding: 0 10px;
  margin: 0 auto 72px auto;
}

.contact-office-name {
  font-size: 30px;
  font-family: $alega-bold;
  color: $valencia-red;
  margin: 10px 0 30px 0;
}

.contact-address {
  font-size: 19px;
  line-height: 25px;
  font-style: normal;
}

.contact-show-map-btn {
  margin-top: 15px;
  display: inline-block;

  svg {
    width: 21px;
    margin-right: 10px;
  }
}

.contact-description {
  text-align: left;
  width: 74%;
  margin: 0 auto;
}

@media #{$breakpoint-mobile-landscape} {
  .contact-offices-element {
    max-width: 100%;
  }
}

@media #{$only-mobile-large} {

  .contact-office-img {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    padding-left: 10%;
  }

  .contact-description {
    display: inline-block;
    width: 55%;
    padding-left: 10%;
    vertical-align: middle;
  }

}

@media #{$breakpoint-tablet} {
  .m-contact {
    font-size: 20px;
    line-height: 30px;
  }

  .contact-offices {
    margin: 112px 0 0;
    padding: 0;
  }

  .contact-offices-element {
    display: inline-block;
    max-width: 220px;
    margin: 0 10px;
  }

  .contact-office-name {
    margin: 21px 0 17px 0;
  }

  .contact-address {
    line-height: 27px;
  }

  .contact-show-map-btn {
    margin-top: 10px;
  }

  .contact-description {
    width: 97%;
  }

}

@media #{$breakpoint-desktop} {
  .m-contact {

    .break-display-none {
      display: block;
    }

  }
  .contact-offices-element {
    max-width: 300px;
    margin: 0 10px;
  }

  .contact-description {
    width: 70%;
  }

}

@media #{$breakpoint-desktop-large} {
  .contact-offices-element {
    margin: 0 27px;
    max-width: 324px;
  }

  .contact-description {
    width: 64%;
  }

}
