.m-content-padding {
  padding-top: 35px;

  &.padding-bottom-sm {
    padding-bottom: 0;
  }
}

@media #{$breakpoint-tablet} {
  .m-content-padding {
    padding: 50px 0 70px;
  }
}

@media #{$breakpoint-desktop-large} {
  .m-content-padding {
    &.padding-bottom-sm {
      padding-bottom: 50px;
    }
  }
}
