.m-codebeat {
  .column-left,
  .column-right {
    @include flex-flow(column, wrap);
    align-items: center;
  }

  .codebeat-logo {
    background: url('/images/ventures/codebeat_logo.svg') no-repeat;
    background-size: contain;
    height: 68px;
    width: 272.6px;
  }

  .codebeat-slogan {
    color: $docker-blue;
    font-family: $alega;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 26px;
    text-align: center;
    width: 90%;
  }

  .codebeat-description {
    color: $martinique-dark;
    font-family: $courier;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding-left: 2px;
    text-align: center;
  }

  .codebeat-dashboard {
    background: url('/images/ventures/codebeat_dashboard.png') no-repeat;
    background-position: 0 15px;
    background-size: cover;
    height: 300px;
    margin-top: 40px;
    max-height: 819px;
    max-width: 630px;
    width: 100%;
  }
}

@media #{$only-mobile-large} {
  .m-codebeat {
    .codebeat-dashboard {
      background-position: 0 20px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-codebeat {

    .codebeat-logo {
      max-width: 410px;
      width: 88%;
    }

    .codebeat-slogan {
      font-size: 26px;
      line-height: 26px;
      padding-top: 42px;
    }
  
    .codebeat-description {
      font-size: 20px;
      letter-spacing: .5px;
      line-height: 29px;
      padding-left: 0;
      text-indent: 23px;
      width: 88%;
      
      &:first-of-type {
        padding-top: 20px;
      }
    }
  }
}

@media #{$breakpoint-desktop-larger} {
  .m-codebeat {
    @include flex-flow(row, wrap);

    .column-left,
    .column-right {
      align-items: flex-start;
      width: 50%;
    }

    .column-left {
      padding-bottom: 100px;
    }

    .codebeat-logo {
      max-width: 410px;
      width: 88%;

      &:hover {
        @include filter(brightness(92%));
      }
    }

/*    .codebeat-slogan {
      font-size: 26px;
      line-height: 26px;
      padding-top: 42px;
      text-align: initial;
    }

    .codebeat-description {
      font-size: 19px;
      letter-spacing: .5px;
      line-height: 29px;
      padding-left: 0;
      text-align: left;
      text-indent: 23px;
      width: 88%;

      &:first-of-type {
        padding-top: 20px;
      }
    }*/

    .codebeat-dashboard {
      background-position: 0 27px;
      flex: 1;
      margin: 0;
    }
  }
}

@media #{$breakpoint-desktop-larger} {
  .m-codebeat {
    .codebeat-description {
      text-align: justify;
    }
  }
} 
