.m-cq-main-logo {
  .letters-wrapper {
    width: 100%;
  }

  .letters {
    color: $martinique-dark;
    margin: 0 auto;
    width: 88%;
  }

  .mobile {
    @include place-svg(32.7, 86.2, 3.1, 64);
  }

  .gopher {
    @include place-svg(47, 100.5, 8.45, 84);
  }

  .fish-in-c {
    @include place-svg(30.3, 30.7, 9.2, 47.7);
  }

  .bubles1 {
    @include place-svg(33.1, 32.7, 13.6, 73.7);
  }

  .bubles2 {
    @include place-svg(29.1, 44.5, 31.2, 44);
  }

  .fish {
    @include place-svg(64.2, 76.3, 22.2, 84.5);
  }

  .fish2 {
    @include place-svg(64.2, 76.3, 92, 72);
  }

  .fish-in-u {
    @include place-svg(30.3, 30.7, 61.3, 47);
  }

  .octopus {
    @include place-svg(46.4, 114.1, 30.7, 92.5);
  }

  .octopus2 {
    @include place-svg(38.4, 116.1, 66.1, 65);
  }

  .whale {
    @include place-svg(81, 128.5, 38, 70.5);
  }

  .submarine {
    @include place-svg(190.8, 105.2, 48, 103.7);
  }

  .apple {
    @include place-svg(39, 47.6, 74.3, 72.3);
  }

  .shark {
    @include place-svg(82.1, 89.8, 82, 71);
  }

  .starfish {
    @include place-svg(22, 22.6, 22.4, 36.5);
  }

  .starfish2 {
    @include place-svg(22.6, 22.2, 82.8, 29);
  }

  .plant1 {
    @include place-svg(46, 54, 19.8, 1);
  }

  .plant2 {
    @include place-svg(39.9, 108, 51, 1);
  }

  .plant3 {
    @include place-svg(46, 54, 63.4, 1);
  }

  .plant4 {
    @include place-svg(42, 108.3, 76.5, 1);
  }

  .computer {
    @include place-svg(64, 51.4, 25, 1.4);
  }

  .ufo {
    @include place-svg(71.1, 56.8, 34.2, 1);
  }

  .ruby {
    @include place-svg(56.5, 66.4, 44.2, 7);
  }

  .server {
    @include place-svg(37.5, 46.5, 71.1, 1);
  }

  .station {
    @include place-svg(131.4, 94.9, 89.2, 1);
  }

  .water1 {
    @include place-svg(46.5, 20, -.6, 21);
  }

  .water2-1 {
    @include place-svg(41.2, 20.5, 15.4, 98);
  }

  .water2-2 {
    @include place-svg(41.2, 20.5, 77.4, 108);
  }

  .water3 {
    @include place-svg(55.2, 20.5, 34.7, 110);
  }

  .water4 {
    @include place-svg(51.2, 20.5, 45, 92);
  }

  .water5 {
    @include place-svg(51.2, 20.5, 45, 92);
  }

  .docker {
    @include place-svg(92.5, 71.2, -.3, -15);
  }
}
