// scss-lint:disable SelectorFormat

.m-cq-main-logo {
  svg {
    height: 100%;
    width: 100%;
  }
}

.m-cq-main-logo__letters--wrapper {
  width: 100%;
}

.m-cq-main-logo__letters {
  margin: 0 auto;
  width: 88%;

  svg {
    height: 100%;
  }

  path,
  circle {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__mobile {
  @include place-svg(32.7, 86.2, 3.1, 64);
  .st-mobile-0 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-mobile-1 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-mobile-2 {
    fill: $martinique-dark;
  }

  .st-mobile-3 {
    @include stroke();
    fill: $indian-yellow;
  }
}

.m-cq-main-logo__gopher {
  @include place-svg(47, 100.5, 8.45, 84);
  .st-gopher-0 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-gopher-1 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-gopher-2 {
    @include stroke($width: 8);
    fill: $aquamarine-blue;
  }

  .st-gopher-3 {
    fill: $sand-yellow;
  }

  .st-gopher-4 {
    fill: $aquamarine-blue;
  }

  .st-gopher-5 {
    fill: $gray;
  }

  .st-gopher-6 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__fish-in-c {
  @include place-svg(30.3, 30.7, 9.2, 47.7);
  .st-fish_in_c-0 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $breaker-bay-green;
  }

  .st-fish_in_c-1 {
    fill: $martinique-dark;
  }

  .st-fish_in_c-2 {
    @include stroke($linecap: round, $linejoin: round);
    fill: none;
  }
}

.m-cq-main-logo__bubles1 {
  @include place-svg(33.1, 32.7, 13.6, 73.7);
  .st-bubbles1-0 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-bubbles1-1 {
    @include stroke();
    fill: $breaker-bay-green;
  }
}

.m-cq-main-logo__bubles2 {
  @include place-svg(29.1, 44.5, 31.2, 44);

  .st-bubles2-0 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-bubles2-1 {
    @include stroke();
    fill: $deep-sea-green;
  }
}

.m-cq-main-logo__fish {
  @include place-svg(64.2, 76.3, 22.2, 84.5);
  .st-fish-0 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-fish-1 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-fish-2 {
    @include stroke($linecap: round, $linejoin: round);
    fill: none;
  }

  .st-fish-3 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $damask-red;
  }

  .st-fish-4 {
    fill: $martinique-dark;
  }

  .st-fish-5 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $indian-yellow;
  }
}

.m-cq-main-logo__fish2 {
  @include place-svg(64.2, 76.3, 92, 72);
  .st-fish2-0 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-fish2-1 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-fish2-2 {
    @include stroke($linecap: round, $linejoin: round);
    fill: none;
  }

  .st-fish2-3 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $breaker-bay-green;
  }

  .st-fish2-4 {
    fill: $martinique-dark;
  }

  .st-fish2-5 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $indian-yellow;
  }
}

.m-cq-main-logo__fish-in-u {
  @include place-svg(30.3, 30.7, 61.3, 47);
  .st-fish-in-u-0 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $damask-red;
  }

  .st-fish-in-u-1 {
    fill: $martinique-dark;
  }

  .st-fish-in-u-2 {
    @include stroke($linecap: round, $linejoin: round);
    fill: none;
  }
}

.m-cq-main-logo__octopus {
  @include place-svg(46.4, 114.1, 30.7, 92.5);
  .st-octopus-0 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-octopus-1 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-octopus-2 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $breaker-bay-green;
  }

  .st-octopus-3 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__octopus2 {
  @include place-svg(38.4, 116.1, 66.1, 65);
  .st-octopus2-0 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-octopus2-1 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-octopus2-2 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $damask-red;
  }

  .st-octopus2-3 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__whale {
  @include place-svg(81, 128.5, 38, 70.5);
  .st-whale-0 {
    @include stroke();
    fill: $valencia-red;
  }

  .st-whale-1 {
    @include stroke($linecap: round, $linejoin: round);
    fill: none;
  }

  .st-whale-2 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $damask-red;
  }

  .st-whale-3 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__submarine {
  @include place-svg(190.8, 105.2, 48, 103.7);
  .st-submarine-0 {
    fill: $martinique-dark;
  }

  .st-submarine-1 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-submarine-2 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-submarine-3 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $deep-sea-green;
  }

  .st-submarine-4 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $breaker-bay-green;
  }

  .st-submarine-5 {
    @include stroke();
    fill: $indian-yellow;
  }

  .st-submarine-6 {
    fill: $deep-sea-green;
  }

  .st-submarine-7 {
    fill: $breaker-bay-green;
  }
}

.m-cq-main-logo__apple {
  @include place-svg(39, 47.6, 74.3, 72.3);
  .st-apple-0 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $deep-sea-green;
  }
}

.m-cq-main-logo__shark {
  @include place-svg(82.1, 89.8, 82, 71);
  .st-shark-0 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-shark-1 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-shark-2 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $valencia-red;
  }

  .st-shark-3 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $breaker-bay-green;
  }

  .st-shark-4 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__starfish {
  @include place-svg(22, 22.6, 22.4, 36.5);
  .st-starfish-0 {
    fill: $indian-yellow;
  }

  .st-starfish-1 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__starfish2 {
  @include place-svg(22.6, 22.2, 82.8, 29);
  .st-starfish2-0 {
    fill: $damask-red;
  }

  .st-starfish2-1 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__plant1 {
  @include place-svg(46, 54, 19.8, 0);
  .st-plant1-0 {
    fill: $deep-sea-green;
  }

  .st-plant1-1 {
    fill: $martinique-dark;
  }

  .st-plant1-2 {
    fill: $indian-yellow;
  }
}

.m-cq-main-logo__plant2 {
  @include place-svg(39.9, 108, 51, 0);
  .st-plant2-0 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $indian-yellow;
  }

  .st-plant2-1 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $breaker-bay-green;
  }
}

.m-cq-main-logo__plant3 {
  @include place-svg(46, 54, 63.4, 0);
  .st-plant3-0 {
    fill: $damask-red;
  }

  .st-plant3-1 {
    fill: $martinique-dark;
  }

  .st-plant3-2 {
    fill: $breaker-bay-green;
  }
}

.m-cq-main-logo__plant4 {
  @include place-svg(42, 108.3, 76.5, -1);
  .st-plant4-0 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $damask-red;
  }

  .st-plant4-1 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $sand-yellow;
  }
}

.m-cq-main-logo__computer {
  @include place-svg(64, 51.4, 25, 1.4);
  .st-computer-0 {
    @include stroke();
    fill: $indian-yellow;
  }

  .st-computer-1 {
    @include stroke($linecap: round, $linejoin: round);
    fill: none;
  }

  .st-computer-2 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $sand-yellow;
  }
}

.m-cq-main-logo__ufo {
  @include place-svg(71.1, 56.8, 34.2, 0);
  .st-ufo-0 {
    @include stroke($linecap: round);
    fill: $breaker-bay-green;
  }

  .st-ufo-1 {
    @include stroke();
    fill: $sand-yellow;
  }

  .st-ufo-2 {
    @include stroke();
    fill: none;
  }
}

.m-cq-main-logo__ruby {
  @include place-svg(56.5, 66.4, 44.2, 7);
  .st-ruby-0 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $maroon-red;
  }
}

.m-cq-main-logo__server {
  @include place-svg(37.5, 46.5, 71.1, 0);
  .st-server-0 {
    fill: $breaker-bay-green;
  }

  .st-server-1 {
    fill: $martinique-dark;
  }

  .st-server-2 {
    @include stroke();
    fill: $damask-red;
  }

  .st-server-3 {
    fill: $deep-sea-green;
  }
}

.m-cq-main-logo__station {
  @include place-svg(131.4, 94.9, 89.2, 0);
  .st-station-0 {
    @include stroke();
    fill: $indian-yellow;
  }

  .st-station-1 {
    @include stroke($linecap: round, $linejoin: round);
    fill: $indian-yellow;
  }

  .st-station-2 {
    fill: $martinique-dark;
  }

  .st-station-3 {
    @include stroke();
    fill: $valencia-red;
  }

  .st-station-4 {
    @include stroke();
    fill: $breaker-bay-green;
  }
}

.m-cq-main-logo__water1 {
  @include place-svg(46.5, 20, -.6, 21);
  .st-water1-0 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__water2-1 {
  @include place-svg(41.2, 20.5, 15.4, 98);
  .st-water2-0 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__water2-2 {
  @include place-svg(41.2, 20.5, 77.4, 108);
  .st-water2-0 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__water3 {
  @include place-svg(55.2, 20.5, 34.7, 110);
  .st-water3-0 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__water4 {
  @include place-svg(51.2, 20.5, 45, 92);
  .st-water4-0 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__water5 {
  @include place-svg(51.2, 20.5, 45, 92);
  .st-water5-0 {
    fill: $martinique-dark;
  }
}

.m-cq-main-logo__docker {
  @include place-svg(92.5, 71.2, -.3, -15);
  .st-docker-0 {
    @include stroke();
    fill: $deep-sea-green;
  }

  .st-docker-1 {
    @include stroke();
    fill: $breaker-bay-green;
  }

  .st-docker-2 {
    fill: $docker-blue;
  }

  .st-docker-3 {
    fill: $martinique-dark;
  }
}
