.m-content-padding {
  padding-top: 35px;

  .m-paragraph {
    padding-bottom: 30px;
  }
}

@media #{$breakpoint-tablet} {
  .m-content-padding {
    padding: 50px 0 70px;

    &.padding-bottom-sm {
      padding-bottom: 0;
    }

    &.pb-0 {
      padding-bottom: 0;
    }
  }
}

@media #{$breakpoint-desktop-larger} {
  .m-content-padding {
    &.padding-bottom-sm {
      padding-bottom: 50px;
    }
  }
}
