.m-footer {
  background-color: $martinique-dark;
  color: $light-gray;
  font-family: $alega-light;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 30px;
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  ul {
    margin-top: 0;
    padding-left: 0;
  }

  .address {
    font-style: normal;
    margin-bottom: 15px;
  }

    .contact-link:hover {
    color: $damask-red;
  }

  .element {
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .header {
    font-family: $alega-bold;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .menu {
    @include flex-flow(row, wrap);
    @include flex-justify-content(space-between);
  }

  .menu-item {
    margin-right: 10px;
  }

  .nav {
    .header,
    .arrow {
      display: none;
    }
  }

  .social-link {
    max-width: 30px;
  }

  .social-links {
    @include flex-flow(row, wrap);
    @include flex-justify-content(space-between);
    margin-top: 30px;
    max-height: 30px;
    width: 210px;

    li {
      margin-left: 0;
    }
  }
}

.colors {
  line-height: 10px;

  .color-space {
    display: inline-block;
    height: 10px;
    width: 25%;

    &.green {
      background-color: $breaker-bay-green;
    }

    &.orange {
      background-color: $damask-red;
    }

    &.red {
      background-color: $valencia-red;
    }

    &.yellow {
      background-color: $indian-yellow;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-footer {
    font-size: 24px;
    padding-top: 50px;

    .wrapper {
      @include flex-flow(row, wrap);
      @include flex-justify-content(space-between);
    }

    .address {
      line-height: 1.3;
    }

    .addresses {
      @include flex-flow(row, wrap);
      @include flex-justify-content(space-between);
      max-width: 500px;
    }

    .coffee-and-address {
      width: 100%;
    }

    .element {
      line-height: 1.7;
    }

    .header {
      font-family: $alega;
      font-size: 26px;
    }

    .menu {
      @include flex-flow(column, wrap);
    }

    .menu-item {
      margin-right: 0;
    }

    .nav .header {
      display: block;
    }

    .social-links {
      max-height: 160px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-footer {
    padding-bottom: 50px;
    padding-top: 100px;

    .coffee-and-address {
      @include flex-flex(3, 0, 0)
    }

    .get-in-touch {
      @include flex-flex(2, 0, 0)
    }

    .header {
      margin-bottom: 30px;
    }

    .nav {
      @include flex-flex(1.5, 0, 0);

      .arrow {
        float: right;
        width: 20px;
      }

      .menu {
        width: 140px;
      }
    }

    .menu-item:hover .arrow {
      display: inline-block;
    }


    .social-links {
      @include flex-flow(column, wrap);
    }
  }
}
