.m-form {
  color: $martinique-dark;
  font-family: $alega-bold;
  font-size: 18px;

  .form-input:focus,
  .form-textarea:focus {
    border-color: $deep-sea-green;
    outline: none;

    @include input-placeholder {
      color: transparent;
    };
  }

  .form-fieldset {
    border: 0;
    margin: 0 0 16px;
    padding: 0;
  }

  .form-label {
    display: block;
    margin-bottom: 16px;
  }

  .form-input,
  .form-textarea {
    background: $light-gray;
    border: 4px solid $martinique-dark;
    border-radius: 10px;
    display: block;
    margin-bottom: 32px;
    width: 100%;
  }

  .form-input {
    padding: 22px 12px;
  }

  .form-textarea {
    height: 205px;
    padding: 15px 12px;
  }

  .form-button {
    display: block;
    margin: 0 auto;
  }

  .form-legend,
  .subtitle {
    text-align: center;
  }

  .form-legend {
    font-size: 44px;
    margin-bottom: 26px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 28px;
    margin-top: 10px;
    text-align: left;
  }

  .amount-inputs {
    color: $damask-red;
    font-size: 18px;
    margin: -12px 0 12px;

    .form-input {
      color: $damask-red;
      margin: 0;
      text-align: center;

      @include input-placeholder {
        color: $damask-red;
      }
    }

    .form-input:focus {
      @include input-placeholder {
        color: transparent;
        text-align: center;
      };
    }
  }

  .dash {
    background: $damask-red;
    border-radius: 4px;
    height: 4px;
    margin: 26px auto;
    width: 8px;
  }

  .slider {
    display: none;
    margin: 0 auto;
    padding: 24px 0 200px;
    width: 100%;
  }

  .slider-title {
    color: $damask-red;
    font-size: 24px;
    text-align: center;
  }

  .slider-axis {
    background: $martinique-dark;
    height: 4px;
    margin: 0 auto;
    position: relative;
    width: 688px;
  }

  .slider-points-container {
    @include flex-flow(row, wrap);
    @include flex-justify-content(space-around);

    margin: 0 auto;
    position: relative;
    top: -7px;
    width: 765px;
  }

  .slider-point {
    @include flex-flow(column, wrap);
    @include flex-justify-content(space-between);

    text-align: center;
    width: 60px;
  }

  .slider-circle {
    background: $breaker-bay-green;
    border: 4px solid $martinique-dark;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
  }

  .slider-circle-small {
    @include size(10px, 10px);
  }

  .slider-circle-medium {
    @include size(14px, 14px);
    top: -2px;
  }

  .slider-circle-large {
    @include size(18px, 18px);
    top: -4px;
  }

  .slider-amount {
    font-size: 16px;
  }

  .slider-move {
    display: inline-block;
    position: relative;
    top: 38px;
    width: 44px;
  }
}

@media #{$breakpoint-tablet} {
  .m-form {
    margin: 0 auto;
    max-width: 805px;

    .amount-inputs {
      margin: 0 0 100px;

      .form-input,
      .dash {
        display: inline-block;
      }

      .form-input {
        width: 47%;
      }

      .dash {
        margin: 0 2%;
      }
    }

    .form-legend {
      font-size: 74px;
      margin-bottom: 15px;
    }

    .form-fieldset {
      margin-bottom: 8px;
    }

    .subtitle {
      margin-top: 3px;
    }

    .slider {
      display: none;
      padding-bottom: 132px;
    }
  }
}
