.m-face {
  border: solid 4px;
  border-radius: 50%;
  height: 250px;
  margin: 0 auto;
  width: 250px;

  &.boss-face {
    background: image-url('thank-you/tomek.png');
  }

  &.cat-face {
    background: image-url('thank-you/kotel.png');
  }
}

@media #{$breakpoint-desktop-retina} {
  .m-thank-you {
    .m-face {
      background-size: contain;

      &.boss-face {
        background: image-url('thank-you/tomek@2x.png');
      }

      &.cat-face {
        background: image-url('thank-you/kotel@2x.png');
      }
    }
  }
}
