.m-footer {
  @include flex-flow(row, wrap);
  @include flex-justify-content(space-between);
  background-color: $martinique-dark;
  color: $light-gray;
  font-family: $alega-light;
  font-size: 18px;
  padding: 20px;
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin-top: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  .nav {
    .header,
    .arrow {
      display: none;
    }
  }

  .menu {
    @include flex-flow(column, wrap);
    @include align-content(space-between);
    max-height: 20px;
  }

  .element {
    line-height: 1.5;
    margin-bottom: 40px;
    width: 100%;
  }

  .address {
    font-style: normal;
    margin-bottom: 15px;
  }

  .header {
    font-family: $alega-bold;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .social-links {
    @include flex-flow(column, wrap);
    max-height: 30px;
    max-width: 210px;
  }

  .social-link {
    max-width: 30px;
  }
}

.colors {
  line-height: 10px;

  .color-space {
    display: inline-block;
    height: 10px;
    width: 25%;

    &.yellow {
      background-color: $indian-yellow;
    }

    &.green {
      background-color: $breaker-bay-green;
    }

    &.orange {
      background-color: $damask-red;
    }

    &.red {
      background-color: $valencia-red;
    }
  }
}
