
.m-grid-item {
  @include size(360px, auto);
  font-family: $alega;
  margin: 15px 0;
  padding: 0 10px;
  text-decoration: none;

  &.red {
    color: $valencia-red;
  }

  &.yellow {
    color: $indian-yellow;
  }

  &.sea-green {
    color: $deep-sea-green;
  }

  &.light-green {
    color: $breaker-bay-green;
  }

  .date {
    border-radius: 60px;
    color: $martinique-dark;
    font-family: $alega;
    font-size: 13px;
    padding: 7px 0;
  }

  .title {
    @include font(34px, 122%);
    color: currentColor;
    margin: 0;
  }

  .tags {
    color: currentColor;
    font-size: 17px;
    margin: 12px 0 10px;
  }

  .summary {
    @include font(18px, 180%);
    color: $martinique-dark;
    font-family: $baskerville;
    margin: 12px 0;
    text-align: justify;
  }
}

@media #{$breakpoint-tablet} {
  .m-grid-item {
    @include size(460px, 48%);
    margin-top: 54px;
    padding: 0 5px; 

    &:hover .title {
      text-decoration: underline;
    }

    &.red {
      &:hover .date {
        background-color: $valencia-red;
      }
    }

    &.yellow {
      &:hover .date {
        background-color: $indian-yellow;
      }
    }

    &.sea-green {
      &:hover .date {
        background-color: $deep-sea-green;
      }
    }

    &.light-green {
      &:hover .date {
        background-color: $breaker-bay-green;
      }
    }


    .date {
      font-size: 15px;
      padding: 9px;
    }

    .title {
      @include font(38px, 118%);
      margin: 3px 13px;
    }

    .tags {
      font-size: 18px;
      margin: 19px 11px;
    }

    .summary {
      @include font(19px, 152%);
      margin: 19px 11px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-grid-item {
    @include size(470px, 32%);

    .date {
      font-size: 16px;
      padding: 11px;
    }
  
    .title {
      font-size: 40px;
      margin: 4px 14px;
    }
  
    .tags {
      font-size: 18px;
      margin: 20px 12px;
    }
  
    .summary {
      @include font(20px, 160%);
      margin: 20px 12px;
    }
  }
}

@media #{$breakpoint-desktop-larger} {
  .m-grid-item {
    width: 24%;
  }
}
