.m-grid-element {
  height: 100vw;
  position: relative;
  width: 100vw;
  z-index: 0;

  .grid-hover {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .table {
    display: table;
    height: 100%;
    width: 100%;
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
  }

  .row {
    display: table-row;
  }
}

// Styles here apply to non-touchscreen devices only.
.no-touchevents {

  .m-grid-element:hover .logo {
    display: none;
  }

  .m-grid-element:hover .grid-hover {
    display: block;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-grid-element {
    height: 50vw;
    width: 50vw;
    
    &:last-child:nth-child(odd) {
      width: 100vw;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-grid-element {
    height: 33.3vw;

    &.small {
      width: 33.3vw;
    }

    &.large {
      width: 66.7vw;
    }

    &:last-child:nth-child(odd) {
      width: 66.7vw;
    }
  }
}

@media #{$breakpoint-desktop-large} {
  .m-grid-element {
    height: 416px;

    &.small {
      width: 416px;
    }

    &.large {
      width: 832px;
    }

    &:last-child:nth-child(odd) {
      width: 832px;
    }
  }
}
