.m-grid-item {
  font-family: $alega;
  height: 465px;
  margin: 50px auto;
  width: 360px;

  @media #{$mobile} {
    width: 320px;
    margin: 9px auto;
  }
}

.m-grid-item__date {
  font-size: 18px;
  font-family: $alega-bold;
  padding: 11px;
  width: 370px;
  border-radius: 60px;

  &:hover {
    background-color: $damask-red;
  }

  @media #{$mobile} {
    width: 295px;
    font-size: 12px;
    padding: 13px  0 10px 0;
  }
}

.m-grid-item__title {
  font-size: 40px;
  margin: 7px 14px;
  color: $damask-red;

  @media #{$mobile} {
    font-size: 30px;
    margin: 0;
    line-height: 118%;
  }
}

.m-grid-item__tags {
  font-size: 18px;
  margin: 18px 12px;
  color: $damask-red;

  @media #{$mobile} {
    margin: 16px 0 10px 0;
    font-size: 16px;
  }
}

.m-grid-item__summary {
  font-family: $alega-light;
  font-size: 19px;
  margin: 25px 12px;

  @media #{$mobile} {
    margin: 17px 0;
    font-family: $courier;
    font-size: 12px;
    line-height: 185%;
  }
}

