.m-grid-item {
  font-family: $alega;
  height: 470px;
  margin-top: 54px;
  width: 360px;

  &.no-content {
    height: 0;
  }

  @media #{$mobile} {
    height: 300px;
    margin: 9px 0;
    width: 320px;
  }
}

.m-grid-item__date {
  border-radius: 60px;
  font-family: $alega-bold;
  font-size: 18px;
  padding: 11px;
  width: 370px;

  @media #{$mobile} {
    font-size: 12px;
    padding: 7px 0;
    width: 295px;
  }
}

.m-grid-item:hover .m-grid-item__date {
  background-color: $damask-red;
}

.m-grid-item__title {
  color: $damask-red;
  font-size: 40px;
  line-height: 118%;
  margin: 4px 14px;

  @media #{$mobile} {
    font-size: 30px;
    line-height: 122%;
    margin: 0;
  }
}

.m-grid-item__tags {
  color: $damask-red;
  font-size: 18px;
  margin: 20px 12px;

  @media #{$mobile} {
    font-size: 16px;
    margin: 12px 0 10px;
  }
}

.m-grid-item__summary {
  font-family: $baskerville;
  font-size: 20px;
  line-height: 160%;
  margin: 20px 12px;

  @media #{$mobile} {
    font-size: 12px;
    line-height: 180%;
    margin: 12px 0;
  }
}

