$colors: $breaker-bay-green, $valencia-red, $indian_yellow, $deep-sea-green;

.m-header {
  background-color: nth($colors, random(length($colors)));
  height: 16.125vw;
  min-height: 160px;
  padding: 5px 5px 5px 0;
  position: relative;
  width: 100%;
}
