.m-header {
  background-color: $martinique-dark;
  font-family: $alega;
  height: 15.125vw;
  min-height: 120px;
  padding: 5px 5px 5px 0;
  position: relative;
  width: 100%;
}

@media #{$breakpoint-desktop} {
  .m-header {
    height: 140px;
  }
}

@media #{$breakpoint-desktop-larger} {
  .m-header {
    height: 200px;
  }
}
