.join-our-crew {
  .m-footer { margin-top: 20px; }
}
.m-join-us {
  .apply-link {
    @include link-button(24px, none, none, $alega-bold);

    display: block;
    text-align: center;
  }
}

@media #{$breakpoint-tablet} {
  .m-join-us {
    .apply-link {
      font-size: 36px;
    }
  }
}
