.m-job-offer-element {

  &:hover {
    @include filter(brightness(85%));
  }

  // This class define temporary styles for blocks.
  // Remove this when pages with job offers will be ready.
  &.temporary-styles {
    height: 45vw;

    .job-apply {
      display: none;
    }
  }

  &.m-grid-element::before {
    display: none;
  }

  .send-mail-link {
    color: $light-gray;
    font-family: $alega;
    text-align: center;
    text-decoration: none;
  }

  .btn-apply {
    margin-top: 22px;
  }

  .job-title {
    font-size: 26px;
    margin: 0 0 30px;
    padding-top: 18vw;
  }

  .requirements {
    font-size: 16px;

    &.damask-red {
      color: $damask-red;
    }

    &.breaker-bay-green {
      color: $breaker-bay-green;
    }

    &.deep-sea-green {
      color: $deep-sea-green;
    }
  }
}

@media #{$only-mobile-large} {
  .m-job-offer-element {
    width: 50%;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-job-offer-element {

    // This class define temporary styles for blocks.
    // Remove this when pages with job offers will be ready.
    &.temporary-styles {
      height: 28vw;
    }

    .job-position,
    .job-apply {
      height: auto;
      margin-top: 0;
    }

    .job-title {
      font-size: 4.6vw;
      margin-bottom: 10px;
      padding-top: 10vw;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-job-offer-element {
    margin-bottom: 2%;
    width: 49%;

    // This class define temporary styles for blocks.
    // Remove this when pages with job offers will be ready.
    &.temporary-styles {
      height: 146px;
    }

    &.m-grid-element {
      background: none;
    }

    .job-apply {
      background: $white;
    }

    .job-title {
      font-size: 30px;
      margin-bottom: 23px;
      padding-top: 58px;
    }

    .requirements {
      font-size: 21px;
    }
  }
}
