.m-join-us {
  padding-top: 35px;

  .join-us-img {
    margin: 54px auto 40px;

    img {
      width: 100%;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-join-us {
    padding-top: 76px;

    .join-us-img {
      max-width: 800px;
    }

    .m-main-text {
      margin-bottom: 66px;
    }
  }
}
