.m-job-offer-element {
  &.m-grid-element::before {
    display: none;
  }

  .send-mail-link {
    color: $light-gray;
    font-family: $alega;
    text-align: center;
    text-decoration: none;
  }

  .btn-apply {
    margin-top: 10%;
  }

  .job-apply {
    text-align: center;
  }

  .job-title {
    font-size: 24px;
    margin: 0 0 30px;
    padding-top: 18vw;
  }

  .requirements {
    font-size: 16px;

    &.damask-red {
      color: $damask-red;
    }

    &.breaker-bay-green {
      color: $breaker-bay-green;
    }

    &.deep-sea-green {
      color: $deep-sea-green;
    }
  }
}

@media #{$only-mobile-large} {
  .m-job-offer-element {
    width: 49%;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-job-offer-element {
    .job-position,
    .job-apply {
      height: auto;
      margin-top: 0;
      text-align: center;
    }

    .job-title {
      font-size: 4.4vw;
      margin-bottom: 10px;
      padding-top: 10vw;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-job-offer-element {
    margin-bottom: 2%;
    width: 49%;

    &:last-child:nth-child(odd) {
      width: 99%;
    }

    .job-title {
      font-size: 26px;
      margin-bottom: 23px;
      padding-top: 58px;
    }

    .btn-apply {
      margin-top: 50px;
    }

    .requirements {
      font-size: 21px;
    }
  }
}
