.m-job-offers {
  &.m-grid-collection {
    margin: 36px 0 40px;
    max-width: 1248px;
  }

  .m-grid-element {
    height: 90vw;
  }

  .subtitle {
    font-size: 20px;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-job-offers {
    .m-grid-element {
      height: 50vw;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-job-offers {
    &.m-grid-collection {
      justify-content: space-between;
      margin: 40px 0;
    }

    .m-grid-element {
      height: 292px;
    }
  }
}
