.m-job-offer-element {
  text-align: center;

  a {
    color: $light-gray;
    font-family: $alega;
    text-decoration: none;
  }

  .btn-apply {
    margin-top: 22px;
  }

  .job-title {
    font-size: 26px;
    margin: 0 0 30px;
    padding-top: 18vw;
  }

  .hash-tag {
    font-size: 16px;

    &.damask-red {
      color: $damask-red;
    }

    &.breaker-bay-green {
      color: $breaker-bay-green;
    }

    &.deep-sea-green {
      color: $deep-sea-green;
    }
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-job-offer-element {
    .job-position,
    .job-apply {
      height: auto;
      margin-top: 0;
    }

    .job-title {
      font-size: 4.6vw;
      margin-bottom: 10px;
      padding-top: 10vw;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-job-offer-element {
    margin-bottom: 2%;
    width: 49%;

    &.m-grid-element {
      background: none;
    }

    .job-apply {
      background: $white;
    }

    .job-title {
      font-size: 30px;
      margin-bottom: 23px;
      padding-top: 58px;
    }

    .hash-tag {
      font-size: 21px;
    }

    .btn-apply {
      @include button();
      background-color: $white;
      width: 218px;
    }
  }
}
