// scss-lint:disable SelectorFormat
// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

.main-menu .main-menu-close-button {
  @include size(28px, 28px);
  color: inherit;
  margin: 20px 12px 0;
  padding: 0;

  .normal-state {
    @include size(100%, 100%);
    display: inline-block;
  }

  .hover-state {
    @include size(100%, 100%);
    @include flip-horizontal();
    display: none;
  }

  &:active {
    .hover-state,
    .normal-state {
      display: none;
    }
  }
}

.no-touchevents {
  .main-menu .main-menu-close-button {
    .hover-state {
      display: none;
    }

    &:hover {
      .normal-state {
        display: none;
      }

      .hover-state {
        display: inline-block;
      }
    }

    &:active {
      .hover-state {
        display: none;
      }
    }
  }
}
