// scss-lint:disable SelectorFormat

@include keyframes(mainMenuBounceIn) {
  0% {
    @include transform(translate3d(0, 0, 0));
    opacity: 0;
  }

  50% {
    @include transform(translate3d(-75vw, 0, 0));
    opacity: 1;
  }

  75% {
    @include transform(translate3d(-72vw, 0, 0));
    opacity: 1;
  }

  100% {
    @include transform(translate3d(-75vw, 0, 0));
  }
}

@include keyframes(mainMenuBounceOut) {
  0% {
    @include transform(translate3d(-72vw, 0, 0));
  }

  20% {
    @include transform(translate3d(-75vw, 0, 0));
    opacity: 1;
  }

  100% {
    @include transform(translate3d(0, 0, 0));
    opacity: 0;
  }
}

@include keyframes(mainMenuBounceInMobile) {
  0% {
    @include transform(translate3d(0, 0, 0));
  }

  50% {
    @include transform(translate3d(-100vw, 0, 0));
  }

  75% {
    @include transform(translate3d(-95vw, 0, 0));
  }

  100% {
    @include transform(translate3d(-100vw, 0, 0));
  }
}

@include keyframes(mainMenuBounceOutMobile) {
  0% {
    @include transform(translate3d(-100vw, 0, 0));
  }

  20% {
    @include transform(translate3d(-110vw, 0, 0));
  }

  100% {
    @include transform(translate3d(0, 0, 0));
  }
}

.main-menu {
  @include position(0, -110vw, 0, 100vw);
  background: $main-menu-bg;
  color: $white;
  overflow: auto;
  position: fixed;
  z-index: 1000;

  .link {
    color: inherit;
    text-decoration: none;
  }

  &.bouncedIn {
    @include animation(mainMenuBounceInMobile .5s both);
  }

  &.bouncedOut {
    @include animation(mainMenuBounceOutMobile .5s both);
  }

  .menu-arrow {
    margin-top: 15px;
  }
}

@media #{$breakpoint-tablet} {
  .main-menu {
    @include position(0, -76vw, 0, 100vw);

    &.bouncedIn {
      @include animation(mainMenuBounceIn .5s both);
    }

    &.bouncedOut {
      @include animation(mainMenuBounceOut .5s both);
    }
  }
}

@media #{$breakpoint-desktop} {
  .main-menu {
    @include position(0, -80vw, 0, 125vw);
  }
}

@media #{$breakpoint-desktop-large} {
  .main-menu {
    @include position(0, -80vw, 0, 136vw);
  }
}

@media #{$breakpoint-desktop-huge} {
  .main-menu {
    @include position(0, -80vw, 0, 145vw);
  }
}
