.m-mobile {
  @include box-shadow(0 0 20px 0 $shadow-color);
  background-color: $white;
  border: 3px solid $dark-gray;
  border-radius: 20px;
  height: 300px;
  margin: auto;
  position: relative;
  width: 155px;

  .dot {
    background: $santas-gray;
    border-radius: 50%;
    position: absolute;

    &.m-small {
      height: 5px;
      left: 49%;
      top: 2%;
      width: 5px;
    }

    &.m-medium {
      height: 6px;
      left: 33%;
      top: 5%;
      width: 6px;
    }
  }

  .line {
    background: $santas-gray;
    border-radius: 6px;
    height: 3px;
    left: 43%;
    position: absolute;
    top: 5.7%;
    width: 16%;
  }

  .window {
    background-size: cover;
    border: 2px solid $santas-gray;
    border-radius: 3px;
    height: 79%;
    left: 5%;
    position: absolute;
    top: 10%;
    width: 90%;
  }

  .button {
    background: $light-gray;
    border: solid 2px $dark-gray;
    border-radius: 50%;
    bottom: 1.5%;
    height: 23px;
    left: 43%;
    position: absolute;
    width: 23px;
  }
}

@media #{$mobile} {
  .m-mobile {
    &.mobile-large {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 332px;
      top: 44px;
      width: 265px;

      .dot.m-small {
        top: 4%;
      }

      .dot.m-medium {
        top: 7%;
      }

      .line {
        top: 7.7%;
      }

      .window {
        top: 16%;
      }
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-mobile {
    border: 2px solid $dark-gray;
    box-shadow: none;
    height: 245px;
    position: absolute;
    right: 20%;
    top: 27%;
    width: 120px;
    z-index: 2;

    .button {
      bottom: 2%;
      height: 18px;
      left: 42%;
      width: 18px;
    }

    .dot {
      &.m-small {
        height: 3px;
        width: 3px;
      }

      &.m-medium {
        height: 4px;
        width: 4px;
      }
    }

    .line {
      height: 2px;
      top: 5.5%;
    }

    &.mobile-large {
      border-radius: 30px;
      height: 538px;
      width: 260px;

      .dot.m-small {
        height: 5px;
        top: 2.8%;
        width: 5px;
      }

      .dot.m-medium {
        height: 7px;
        width: 7px;
      }

      .line {
        height: 4px;
        top: 5%;
      }

      .button {
        height: 37px;
        width: 37px;
      }
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-mobile {
    border: 3px solid $dark-gray;
    border-radius: 33px;
    height: 430px;
    left: 70%;
    top: 180px;
    width: 210px;

    .button {
      bottom: 2%;
      height: 28px;
      left: 44%;
      width: 28px;
    }

    .dot {
      &.m-small {
        height: 5px;
        width: 5px;
      }

      &.m-medium {
        height: 7px;
        width: 7px;
      }
    }

    .line {
      height: 3px;
    }
  }
}
