.m-mobile {
  background-color: $white;
  border: 3px solid $darker-gray;
  border-radius: 20px;
  box-shadow: -10px 10px 0 0 $black-transparent;
  height: 300px;
  margin: auto;
  position: relative;
  transform: rotate(-18deg);
  width: 155px;

  .dot {
    background: $santas-gray;
    border-radius: 50%;
    position: absolute;

    &.m-small {
      height: 5px;
      left: 49%;
      top: 2%;
      width: 5px;
    }

    &.m-medium {
      height: 6px;
      left: 33%;
      top: 5%;
      width: 6px;
    }
  }

  .line {
    background: $santas-gray;
    border-radius: 6px;
    height: 3px;
    left: 43%;
    position: absolute;
    top: 5.7%;
    width: 16%;
  }

  .window {
    background: url('/images/ventures/codebeat_mobile.png') no-repeat;
    background-size: cover;
    border: 2px solid $santas-gray;
    border-radius: 3px;
    height: 79%;
    left: 5%;
    position: absolute;
    top: 10%;
    width: 90%;
  }

  .button {
    background: $light-gray;
    border: solid 2px $darker-gray;
    border-radius: 50%;
    bottom: 1.5%;
    height: 23px;
    left: 43%;
    position: absolute;
    width: 23px;
  }
}

@media #{$breakpoint-tablet} {
  .m-mobile {
    border: 2px solid $darker-gray;
    box-shadow: none;
    height: 245px;
    position: absolute;
    right: 20%;
    top: 27%;
    transform: none;
    width: 120px;
    z-index: 2;

    .button {
      bottom: 2%;
      height: 18px;
      left: 42%;
      width: 18px;
    }

    .dot {
      &.m-small {
        height: 3px;
        width: 3px;
      }

      &.m-medium {
        height: 4px;
        width: 4px;
      }
    }

    .line {
      height: 2px;
      top: 5.5%;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-mobile {
    border: 3px solid $darker-gray;
    border-radius: 33px;
    height: 430px;
    left: 70%;
    top: 180px;
    width: 210px;

    .button {
      bottom: 2%;
      height: 28px;
      left: 44%;
      width: 28px;
    }

    .dot {
      &.m-small {
        height: 5px;
        width: 5px;
      }

      &.m-medium {
        height: 7px;
        width: 7px;
      }
    }

    .line {
      height: 3px;
    }
  }
}
