// scss-lint:disable SelectorFormat

.m-main-signature {
  color: $white;
  font-family: $courier-new;
  font-size: 17px;
  margin: 0 auto;
  max-width: 300px;

  .underlined-words {
    display: inline-block;
    position: relative;
  }

  .line-wrapper {
    display: block;
    height: 100%;
    position: absolute;
    top: 77%;
    width: 100%;
    z-index: 200;

    @include keyframes(dash) {
      from {
        stroke-dashoffset: 1000;
      }

      to {
        stroke-dashoffset: 0;
      }
    }
  }

  .st-line {
    @include stroke($light-gray, $linecap: round, $linejoin: round);
    fill: none;
  }
}

@media #{$only-mobile-large} {
  .m-main-signature {
    font-size: 24px;
    line-height: 34px;
    max-width: 400px;
  }
}

@media #{$breakpoint-tablet} {
  .m-main-signature {
    font-size: 25px;
    max-width: 100%;

    .break-text {
      display: none;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-main-signature {
    font-size: 34px;
  }
}
