// scss-lint:disable NestingDepth

.main-menu-container {
  width: 85%;
}

.m-desktop-close-button {
  display: none;
}

.main-menu-list {
  @include justify-content(space-between);
  @include flex-flow(column, nowrap);
  list-style-type: none;
  text-align: right;

  .item {
    .arrow {
      display: none;
    }

    .link {
      @include font(46px, 56px);
      font-family: $alega-bold;
    }
  }

}

.social-links {
  @include align-items(flex-end);
  @include flex-flow(row, nowrap);
  @include justify-content(flex-end);
  list-style-type: none;
  text-align: right;

  .social-link {
    margin-left: 50px;

    svg {
      fill: $white;
    }
  }

  .facebook-link {
    @include size(50px, 50px);
    display: inline-block;
    overflow: hidden;

    &:hover {
      svg {
        fill: $breaker-bay-green;
      }
    }

    &:active {
      svg {
        fill: $deep-sea-green;
      }
    }
  }

  .github-link {
    @include size(50px, 50px);
    display: inline-block;
    overflow: hidden;

    &:hover {
      svg {
        fill: $indian-yellow;
      }
    }

    &:active {
      svg {
        fill: $damask-red;
      }
    }
  }

  .twitter-link {
    @include size(40px, 50px);
    display: inline-block;
    overflow: hidden;

    &:hover {
      svg {
        fill: $aquamarine-blue;
      }
    }

    &:active {
      svg {
        fill: $fountain-blue;
      }
    }
  }
}

@media #{$breakpoint-tablet} {
  .main-menu-list .item .link {
    @include font(60px, 80px);
  }
  .no-touchevents {
    .m-desktop-close-button {
      display: block;
    }
    .m-mobile-close-button {
      display: none;
    }
  }
}

@media #{$breakpoint-desktop} {
  .main-menu-container {
    width: 80%;
  }

  .main-menu-list {
    .item:hover {
      .arrow {
        @include size(40px, 40px);
        display: inline-block;
        float: right;
        margin-right: -50px;
      }
    }
  }
}
