// scss-lint:disable SelectorFormat
// scss-lint:disable SelectorDepth
// scss-lint:disable NestingDepth

.main-menu .main-menu-close-button {
  @include size(31px, 31px);
  color: inherit;
  margin: 20px 30px 0;
  padding: 0;

  .normal-state {
    display: inline-block;
  }

  .clicked-state,
  .hover-state {
    display: none;
  }

  .hover-state {
    @include flip-horizontal();
  }

  &:active {
    .clicked-state {
      display: inline-block;
    }

    .hover-state,
    .normal-state {
      display: none;
    }
  }
}

.no-touchevents {
  .main-menu .main-menu-close-button {
    .hover-state {
      display: none;
    }

    &:hover {
      .clicked-state,
      .normal-state {
        display: none;
      }

      .hover-state {
        display: inline-block;
      }
    }

    &:active {
      .hover-state {
        display: none;
      }
    }
  }
}
