// scss-lint:disable SelectorFormat

.m-main-signature {
  @include font-size(36px);
  color: $white;
  font-family: 'Courier New';
  font-size: 2.45vw;
}

.m-main-signature--is-underlined {
  display: inline-block;
  position: relative;
}

.m-main-structure__line {
  height: 100%;
  position: absolute;
  top: 77%;
  width: 100%;

  @include keyframes(dash) {
    to {
      stroke-dashoffset: 0;
    }
  }
}

.is-underlined {
  @include animation(dash 1s cubic-bezier(.60, .25, .25, .9) forwards);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.st-line {
  @include stroke($light-gray, $linecap: round, $linejoin: round);
  fill: none;
}
