// scss-lint:disable SelectorFormat


// as soon as we use this variable only here we don't need to include it to the _devices.css
$smaller--than-main-menu: 'screen and (max-width: 549px), screen and (max-height: 753px)';

.main-menu-open-button {
  color: $martinique-dark;
  float: right;
  height: 39px;
  margin: 23px 44px 0 0;
  width: 52px;

  &.from_header {
    color: $white;

    @media #{$mobile} {
      height: 50px;
      margin-right: 3px;
      width: 43px;
    }
  }

  .clicked-state {
    height: 4px;
    margin: 10px 0 0 12px;
    width: 4px;
  }

  .hover-state {
    height: 28px;
    width: 38px;
  }
}

@include keyframes(mainMenuBounceIn) {
  0% {
    @include transform(translateX(0));
    opacity: 0;
  }

  50% {
    @include transform(translateX(-580px));
    opacity: 1;
  }

  75% {
    @include transform(translateX(-540px));
    opacity: 1;
  }

  100% {
    @include transform(translateX(-550px));
  }
}

@include keyframes(mainMenuBounceOut) {
  0% {
    @include transform(translateX(-550px));
  }

  20% {
    @include transform(translateX(-600px));
    opacity: 1;
  }

  100% {
    @include transform(translateX(0));
    opacity: 0;
  }
}

.main-menu {
  background: $main-menu-bg;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 101px 0 0;
  position: fixed;
  right: -600px;
  top: 0;
  width: 550px;
  z-index: 202;

  &.bouncedIn {
    @include animation(mainMenuBounceIn .5s both);

    + .overlay {
      display: block;
    }
  }

  &.bouncedOut {
    @include animation(mainMenuBounceOut .5s both);
  }

  .list {
    float: right;
    margin-bottom: 6px;

    li {
      list-style: none;
      margin-bottom: 36px;
      padding-right: 40px;
      position: relative;
    }
  }

  .item {
    .arrow {
      display: none;
      height: 28px;
      position: absolute;
      right: 52px;
      top: 9px;
      width: 37px;
    }
  }

  .item:hover {
    .arrow {
      display: block;
    }
  }

  .link {
    color: $white;
    display: block;
    font-family: $alega-bold;
    font-size: 57px;
    letter-spacing: 1px;
    padding-right: 78px;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
  }

  .link:active {
    opacity: .7;

    + .arrow {
      display: none;
    }
  }
}

.main-menu-close-button {
  height: 28px;
  left: 23px;
  padding: 0;
  position: absolute;
  top: 23px;
  width: 28px;

  .normal-state {
    height: 28px;
    width: 28px;
  }

  * {
    fill: $white;
  }

  .hover-state {
    svg {
      @include flip-horizontal();
      height: 28px;
      width: 37px;
    }
  }

  .clicked-state {
    svg {
      height: 4px;
      margin: 24px 0 0 21px;
      width: 4px;
    }
  }
}

.social-links {
  clear: both;
  margin: 0 118px 0 0;

  li {
    display: inline-block;
    float: right;
    margin-left: 50px;
  }
}

.overlay {
  background: $main-menu-bg;
  bottom: 0;
  display: none;
  left: 0;
  opacity: .2;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 201;
}

@media #{$smaller--than-main-menu} {
  .main-menu {
    .list .item {
      margin-bottom: 4vmin;
    }

    .link {
      font-size: 8vmin;
      padding-right: 10vmin;
    }

    .arrow {
      bottom: 0;
      height: 5vmin;
      margin: auto 0;
      right: 10vmin;
      top: 0;
      width: 6vmin;
    }

    .social-links {
      margin: 0 16vmin 0 0;

      li {
        margin-left: 10%;
      }
    }
  }
}
