// scss-lint:disable NestingDepth
.main-menu {
  .main-menu-container {
    width: 85%;
  }

  .m-desktop-close-button {
    display: none;
  }

  .main-menu-list {
    @include justify-content(space-between);
    @include flex-flow(column, nowrap);
    list-style-type: none;
    text-align: right;

    .arrow {
      display: none;
    }

    .link {
      @include font(40px, 45px);
      font-family: $alega-bold;
    }
  }

  .social-icon {
    margin-left: 50px;
  }
}


@media #{$breakpoint-tablet} {
  .main-menu {
    .item .link {
      @include font(60px, 80px);
    }

    .m-mobile-close-button {
      display: none;
    }

    .m-desktop-close-button {
      display: block;
    }
  }
}

@media #{$breakpoint-tablet} {
  .main-menu-list .item .link {
    @include font(55px, 64px);
  }

  .no-touchevents {
    .item:hover {
      .arrow {
        @include size(40px, 40px);
        display: inline-block;
        float: right;
        margin-right: -50px;
      }
    }
  }
}

@media #{$breakpoint-desktop-larger} {
  .main-menu-list {
    .item .link {
      @include font(55px, 64px);
    }
  }
}
