.m-osx-window {
  @include user-select(none);
  background: $light-gray-2;
  border-bottom: 1px solid $boj-jour-gray;
  border-top: 1px solid $boj-jour-gray;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: default;
  height: 15px;
  width: 100%;

  .buttons {
    float: left;
    line-height: 0;
    padding: 3px 0 0 8px;
  }

  .close {
    background: $close-osx-btn;
    border: 1px solid $close-osx-btn-border;
  }

  .minimize {
    background: $minimize-osx-btn;
    border: 1px solid $minimize-osx-btn-border;
    margin-left: 4px;
  }

  .zoom {
    background: $zoom-osx-btn;
    border: 1px solid $zoom-osx-btn-border;
    margin-left: 6px;
  }

  .osx-btn {
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    width: 7px;
  }
}

@media #{$only-mobile-large} {
  .m-osx-window {
    height: 20px;

    .buttons {
      padding-top: 5px;
    }

    .osx-btn {
      height: 9px;
      width: 9px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-osx-window {
    height: 27px;

    .buttons {
      padding-top: 7px;
    }

    .osx-btn {
      height: 11px;
      width: 11px;
    }
  }
}
