.m-paragraph {
  color: $martinique-dark;
  font-family: $courier-new;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 66px;
  text-align: center;

  &.mb-52 {
    margin-bottom: 52px;
  }

  &.deep-sea-green {
    color: $deep-sea-green;
  }

  &.mb-0 {
    margin-bottom: 0;
  }
}

@media #{$breakpoint-tablet} {
  .m-paragraph {
    font-size: 18px;
    line-height: 24px;

    &.margin-sm {
      margin-bottom: 66px;
    }
  }
}
