// scss-lint:disable all

.m-prime-carousel {
  margin: 45px 0 80px;

  // Overwrite owl-carousel styles
  .owl-theme {
    .owl-controls {
      margin-top: -30px;

      .owl-page span {
        background: none;
        border: 2px solid $white;
        height: 15px;
        opacity: .9;
        width: 15px;
      }

      .owl-page.active span,
      &.clickable .owl-page:hover span {
        opacity: .9;
      }

      .owl-buttons div {
        background: $light-gray;
        border-radius: 0;
        height: 338px;
        position: absolute;
        top: -4px;
        opacity: 1;
        width: 80px;
      }

      .owl-buttons .owl-prev {
        background: url('./icons-svg/arrow_left.svg') 50% 50% no-repeat;
        left: -5px;
      }

      .owl-buttons .owl-next {
        background: url('./icons-svg/arrow_right.svg') 50% 50% no-repeat;
        right: -5px;
      }
    }

    .owl-page.active span {
      background: $white;
      opacity: .9;
    }
  }

  .owl-buttons {
    display: none;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-prime-carousel {
    .m-grid-element:last-child:nth-child(odd) {
      width: 50vw;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-prime-carousel {

    .m-grid-element:last-child:nth-child(odd) {
      height: auto;
      width: auto;
    }
  }
}

@media only screen and (min-width: 1448px) {
  .m-prime-carousel {
    .owl-controls .owl-pagination {
      display: none;
    }

    .owl-buttons {
      display: block;
    }
  }
}
