.m-subtitle {
  color: $martinique-dark;
  font-family: $alega-bold;
  font-size: 2.64vw;
  margin-top: 1vw;
  position: relative;
  text-align: center;
  z-index: 1;

  @media #{$mobile} {
    font-size: 20px;
    line-height: 116%;
    margin-top: 7px;
  }
}

@media #{$breakpoint-desktop} {
  .m-subtitle {
    font-size: 28px;
  }
}

@media #{$breakpoint-desktop-larger} {
  .m-subtitle {
    font-size: 32px;
  }
}
