.m-star-your-project {
  padding: 35px 0 132px;

  .paper-plane {
    @include place-svg-normal(26vw, 71%, 37.7%);
    display: none;
    z-index: -1;
  }

  .octopus-bubble {
    @include place-svg-normal(38px, 86%, 91.7%);
  }

  .submarine {
    display: none;
  }

  .octopus {
    display: none;
  }

  .fish {
    display: none;

    .st-fish-in-u-0 {
      fill: $breaker-bay-green;
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-star-your-project {
    padding-top: 86px;

    .paper-plane {
      display: block;
    }

    .submarine {
      @include place-svg-normal(144px, 0, 68.7%);

      display: block;
    }

    .octopus {
      @include place-svg-normal(39px, 47.4%, 94.7%);

      display: block;
    }

    .fish {
      @include place-svg-normal(32px, -1%, 92.7%);

      display: block;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-star-your-project {
    .octopus-bubble {
      @include place-svg-normal(38px, 104%, 88%);
    }

    .submarine {
      @include place-svg-normal(164px, -79px, 68.7%);
    }
  }
}

@media #{$breakpoint-desktop-large} {
  .m-star-your-project {
    .submarine {
      @include place-svg-normal(184px, -129px, 68.7%);
    }
  }
}
