.m-start-project {
  color: $light-gray;
  font-family: $courier;
  padding: 34px 0 44px;
  position: relative;
  text-align: center;

  &.indian-yellow {
    background: $indian-yellow;
  }

  &.damask-red {
    background: $damask-red;
  }
}

.start-project-laptop,
.start-project-ruby {
  display: none;
}

.start-project-gofer {
  height: 211px;
}

.start-project-laptop {
  height: 94px;
}

.start-project-ruby {
  height: 66px;
}

.start-project-ruby-small {
  height: 25px;
}

.start-project-title {
  color: $martinique-dark;
  font-family: $alega-bold;
  font-size: 46px;
  line-height: 52px;
  margin-bottom: 26px;

  span {
    font-size: 20px;
  }
}

@media #{$breakpoint-tablet} {
  .m-start-project {
    padding-top: 75px;
  }

  .start-project-laptop,
  .start-project-ruby {
    display: block;
  }

  .start-project-laptop {
    @include place-svg-normal(61.5px, 77%, -4.5%);
  }

  .start-project-ruby {
    @include place-svg-normal(33px, 77.5%, 77%);
  }

  .start-project-gofer {
    @include place-svg-normal(51px, 18%, 70%);
  }

  .start-project-ruby-small {
    display: none;
  }

  .start-project-title {
    font-size: 8.5vw;
    line-height: 3.5vw;
    margin-bottom: 74px;

    span {
      display: block;
      font-size: 2vw;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-start-project {
    padding-top: 90px;
  }

  .start-project-laptop {
    @include place-svg-normal(65px, 78%, -4%);
  }

  .start-project-ruby {
    @include place-svg-normal(45px, 77.5%, 75%);
  }

  .start-project-gofer {
    @include place-svg-normal(60px, 19%, 70%);
  }
}

@media #{$breakpoint-desktop-large} {
  .m-start-project {
    padding-top: 110px;
  }

  .start-project-laptop {
    @include place-svg-normal(75px, 78%, -3%);
  }

  .start-project-ruby {
    @include place-svg-normal(4%, 77.4%, 71.5%);
  }

  .start-project-gofer {
    @include place-svg-normal(75px, 19%, 68%);
  }
}

@media #{$breakpoint-desktop-retina} {
  .start-project-title {
    font-size: 6.7vw;
  }

  .m-start-project {
    padding-bottom: 130px;
    padding-top: 175px;
  }

  .start-project-laptop {
    @include place-svg-normal(110px, 78%, -.8%);
  }

  .start-project-ruby {
    @include place-svg-normal(4%, 71%, 65%);
  }

  .start-project-gofer {
    @include place-svg-normal(100px, 25%, 66%);
  }
}
