.m-separator-big {
  border-style: solid;
  border-width: 0 0 22px 100vw;
  bottom: 0;
  height: 0;
  width: 0;

  @media screen and (min-width: 950px) {
    border-bottom-width: 50px;
  }

  &.separator-opposite {
    border-width: 22px 0 0 100vw;
    border-color: transparent transparent transparent $indian-yellow;

    @media screen and (min-width: 950px) {
      border-top-width: 50px;
    }
  }

  &.separator-opposite-ventures {
    border-width: 0 0 22px 100vw;
    border-color: transparent transparent $indian-yellow transparent;
    margin-top: -300px;

    @media screen and (min-width: 950px) {
      border-top-width: 50px;
      margin-top: -500px;
    }
  }

  &.separator-light-gray {
    border-width: 0 0 22px 100vw;
    border-color: transparent transparent $light-gray transparent;

    @media screen and (min-width: 950px) {
      border-top-width: 0px;
      margin-top: -105px;
    }
  }

  &.separator-light-gray-bottom-left {
    border-width: 22px 0 0 100vw;
    border-color: transparent transparent transparent $light-gray;

    @media screen and (min-width: 950px) {
      border-top-width: 40px;
    }
  }

    &.separator-opposite-red-left {
    border-width: 22px 0 0 100vw;
    border-color: transparent transparent transparent $valencia-red;

    @media screen and (min-width: 950px) {
      border-top-width: 50px;
    }
  }

  &.separator-opposite-green-right {
    border-width: 0 0 50px 100vw;
    border-color: transparent transparent $breaker-bay-green #f6f6f6;

    @media screen and (min-width: 950px) {
      border-top-width: 0px;
    }
  }
}

