.m-suggested-posts-container {
  margin: 80px auto;
  text-align: center;
  width: 90%;

  .m-grid-collection {
    flex-direction: column;
  }

  .container-title {
    font-size: 35px;
    margin-bottom: 20px;
  }
}

@media #{$breakpoint-tablet} {
  .m-suggested-posts-container {

    .m-grid-collection {
      flex-direction: row;
    }

    .container-title {
      font-size: 40px;
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-suggested-posts-container {
    margin: 130px auto 40px;
    width: 90%;

    .m-grid-collection {
      flex-direction: row;
    }

    .container-title {
      font-size: 47px;
      margin-bottom: 60px;
      margin-left: 16px;
      text-align: left;
    }
  }
}
