.m-separator {
  border-color: transparent $light-gray $light-gray transparent;
  border-style: solid;
  border-width: 15px 87vw 0 0;
  bottom: -96px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 0;

  &.m-separator-post {
    bottom: 0px;
    border-width: 15px 270px 0 0;
    height: 50px;
    top: 172px;
  }
}

@media #{$breakpoint-tablet} {
  .m-separator {
    bottom: -105px;

    &.m-separator-post {
      bottom: 0px;
    }

    &.m-separator-post {
      bottom: 0px;
      border-width: 15px 280px 0 0;
      height: 45px;
      top: 183px;;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-separator {
    border-width: 28px 74vw 0 0;

    &.m-separator-post {
      bottom: 0px;
    }

    &.m-separator-post {
      bottom: 0px;
      border-width: 15px 350px 0 0;
      height: 45px;
      top: 228px;
    }
  }
}
