.m-suggested-post {
  font-family: $alega;

  .article {
    text-decoration: none;

    &.red {
      color: $valencia-red;
    }

    &.yellow {
      color: $indian-yellow;
    }

    &.sea-green {
      color: $deep-sea-green;
    }

    &.light-green {
      color: $breaker-bay-green;
    }
  }

  .m-decorator {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 122px;

    &.small {
      border-width: 15px 300px 0 0;
    }
  }

  .read-more {
    font-size: 16px;
    margin: 20px 0;
  }

  .author {
    color: $valencia-red;
    font-size: 18px;
    margin: 9px 0 0 10px;
    position: absolute;
  }

  .date {
    border-radius: 60px;
    color: $martinique-dark;
    font-family: $alega-bold;
    font-size: 13px;
    margin-left: 10px;
    z-index: 1;

    &.m-big-post {
      font-size: 16px;
    }
  }

  .image {
    position: relative;

    img {
      max-width: 300px;
    }
  }

  .image-author img {
    @include size(35px, 35px);
    border-radius: 50%;
  }

  .posts {
    display: block;
    margin: 10px 0;
    width: 300px;

    &.m-big-post {
      margin-left: 0;
      margin-top: 50px;
      width: 320px;
    }
  }

  .post-detail {
    margin: 0 auto;
    position: relative;
    text-align: left;
    top: -20px;
    width: 240px;

    &.m-big-post {
      top: 0;
      width: 280px;
    }
  }

  .summary {
    @include font(14px, 180%);
    color: $martinique-dark;
    font-family: $baskerville;
    margin: 12px 0;
    text-align: justify;

    &.m-big-post {
      font-size: 16px;
    }
  }

  .subtitle {
    color: $martinique-dark;
    font-family: $alega-bold;
    z-index: 1;

    &.m-big-post {
      font-size: 16px;
    }
  }

  .title {
    @include font(20px, 122%);
    color: currentColor;
    margin: 10px 0;

    &.m-big-post {
      font-size: 30px;
    }
  }

  .m-suggested-post:last-child {
    display: none;
  }
}

@media #{$breakpoint-tablet} {
  .m-suggested-post {
    margin: 0 16px;

    .m-decorator {
      top: 120px;
    }

    &:hover {
      .read-more {
        text-decoration: underline;
      }
    }

    .author {
      margin-left: 15px;
      margin-top: 25px;
    }

    .image img {
      max-width: 300px;
    }

    .image-author img {
      @include size(60px, 60px);
    }

    .posts {
      margin: 0;
      width: 300px;

      &.m-big-post {
        margin-top: 30px;
        width: 100%;
      }
    }

    .post-detail {
      top: -35px;
      width: 260px;

      &.m-big-post {
        width: 100%;
      }
    }

    .summary {
      @include font(15px, 180%);
    }

    .title {
      @include font(20px, 122%);
    }
  }

  .no-touchevents {
    .m-suggested-post {
      .m-decorator {
        @include transition(all 1s cubic-bezier(.16, .53, .15, .99) 0s);
      }

      &:hover .m-decorator {
        @include transform(skewY(5deg));
        @include transition(all 1s cubic-bezier(.16, .53, .15, .99) 0s);
      }
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-suggested-post {
    margin: 0 16px 30px;

    &.m-big-post {
      margin: 80px 0 100px;
    }

    .m-decorator {
      left: -1px;
      top: 100px;

      &.small {
        border-width: 15px 262px 0 0;
      }
    }

    .date {
      font-size: 16px;

      &.m-big-post {
        font-size: 20px;
      }
    }

    .author {
      font-size: 15px;
      margin-top: 13px;

      &.m-big-post {
        font-size: 26px;
      }
    }

    .image img {
      max-width: 260px;
    }

    .image-author img {
      @include size(40px, 40px);
    }

    .posts {
      margin: 0;
      width: 260px;

      &.m-big-post {
        margin-top: 0;
      }
    }

    .post-detail {
      top: -25px;
      width: 240px;
    }

    .summary {
      @include font(16px, 180%);
      color: $martinique-dark;
      font-family: $baskerville;
      line-height: 150%;

      &.m-big-post {
        font-size: 22px;
      }
    }

    .subtitle {
      font-size: 16px;

      &.m-big-post {
        font-size: 20px;
      }
    }

    .title {
      @include font(23px, 122%);

      &.m-big-post {
        font-size: 44px;
      }
    }

    .read-more {
      font-size: 15px;
      margin: 10px 0 15px;
    }
  }

  .m-suggested-post:last-child {
    display: block;
  }
}
