// TODO: BEATA Refactor
.m-separator-big {
  border-style: solid;
  border-width: 0 0 22px 100vw;
  bottom: 0;
  height: 0;
  width: 0;

  &.blck-relative {
    display: block;
    position: relative;
  }

  @media screen and (min-width: 950px) {
    border-bottom-width: 50px;
  }

  &.separator-opposite {
    border-color: transparent transparent transparent $indian-yellow;
    border-width: 22px 0 0 100vw;

    @media screen and (min-width: 950px) {
      border-top-width: 50px;
    }
  }

  &.separator-grey-dark {
    border-color: transparent transparent $martinique-dark;
    border-width: 0 0 22px 100vw;

    @media screen and (min-width: 997px) {
      border-bottom-width: 40px;
    }
  }

  &.separator-transparent-grey {
    border-color: transparent transparent transparent $light-gray-2;
    border-width: 22px 0 0 100vw;

    @media screen and (min-width: 997px) {
      border-top-width: 100px;
    }
  }

  &.separator-dark-dark {
    border-color: transparent transparent transparent $mirage-dark;
    border-width: 22px 0 0 100vw;

    @media screen and (min-width: 997px) {
      border-top-width: 100px;
    }
  }

  &.separator-green {
    border-color: transparent transparent $breaker-bay-green;
    border-width: 0 0 22px 100vw;

    @media screen and (min-width: 997px) {
      border-bottom-width: 60px;
    }
  }

  &.separator-gray-dark {
    border-color: transparent transparent $dark-gray;
    border-width: 0 0 22px 100vw;

    @media screen and (min-width: 997px) {
      border-bottom-width: 80px;
    }
  }

  &.separator-yellow-dark {
    border-color: transparent transparent $indian-yellow-dark;
    border-width: 0 0 22px 100vw;

    @media screen and (min-width: 997px) {
      border-bottom-width: 80px;
    }
  }

  &.separator-light-gray-opposite {
    border-color: transparent transparent $light-gray;
    border-width: 0 0 22px 100vw;

    @media screen and (min-width: 997px) {
      border-bottom-width: 80px;
    }
  }

  &.separator-light-gray {
    border-color: transparent transparent $light-gray;
    border-width: 0 0 22px 100vw;

    @media screen and (min-width: 950px) {
      border-top-width: 0;
    }
  }

  &.separator-damask-red {
    border-color: transparent transparent $damask-red;
    border-width: 0 0 22px 100vw;

    @media screen and (min-width: 997px) {
      border-bottom-width: 80px;
    }
  }

  &.separator-transparent-red {
    border-color: transparent transparent transparent $valencia;
    border-width: 22px 0 0 100vw;

    @media screen and (min-width: 997px) {
      border-top-width: 100px;
    }
  }

  &.separator-indian-yellow {
    border-color: transparent transparent transparent $indian-yellow;
    border-width: 22px 0 0 100vw;

    @media screen and (min-width: 997px) {
      border-top-width: 100px;
    }
  }

  &.separator-gray {
    border-color: transparent transparent transparent $gray;
    border-width: 22px 0 0 100vw;

    @media screen and (min-width: 997px) {
      border-top-width: 100px;
    }
  }

  &.separator-opposite-ventures {
    border-color: transparent transparent $indian-yellow;
    border-width: 0 0 22px 100vw;
    margin-top: -300px;

    @media screen and (min-width: 950px) {
      border-top-width: 50px;
      margin-top: -500px;
    }
  }

  &.separator-left-light-gray {
    border-color: transparent transparent transparent $light-gray;
    border-width: 22px 0 0 100vw;

    &.ml-subscribe {
      border-width: 17px 0 0 100vw;
    }

    @media screen and (min-width: 950px) {
      border-top-width: 40px;
    }
  }

  &.separator-opposite-red-left {
    border-color: transparent transparent transparent $valencia-red;
    border-width: 22px 0 0 100vw;

    @media screen and (min-width: 950px) {
      border-top-width: 50px;
    }
  }

  &.subscribe-section-top-separator {
    border-color: $light-gray;
    border-width: 10px 0 0 100vw;

    &.red {
      border-left-color: $valencia-red;
    }

    &.yellow {
      border-left-color: $indian-yellow;
    }

    &.sea-green {
      border-left-color: $deep-sea-green;
    }

    &.light-green {
      border-left-color: $breaker-bay-green;
    }
  }

  &.separator-bottom-grey {
    border-color: transparent transparent transparent $light-gray;
    border-width: 22px 0 0 100vw;

    @media screen and (min-width: 950px) {
      border-top-width: 50px;
    }
  }

  &.separator-opposite-green-right {
    border-color: transparent transparent $breaker-bay-green $light-gray;
    border-width: 0 0 50px 100vw;

    @media screen and (min-width: 950px) {
      border-top-width: 0;
    }
  }

  &.separator-breaker-bay-green {
    border-color: transparent transparent $breaker-bay-green;
    border-width: 0 0 50px 100vw;

    @media screen and (min-width: 950px) {
      border-top-width: 0;
    }
  }
}

