.m-star-your-project {
  padding-bottom: 0;

  .paper-plane {
    display: none;
    z-index: -1;
  }

  .octopus-bubble {
    @include place-svg-normal(38px, 86%, 91.7%);
  }

  .submarine {
    display: none;
  }

  .octopus {
    display: none;
  }

  .fish {
    display: none;

    .st-fish-in-u-0 {
      fill: $breaker-bay-green;
    }
  }

  .station {
    @include size(100px, 132px);

    bottom: -5px;
    position: absolute;
  }

  .whale {
    display: none;
  }
}

@media #{$breakpoint-tablet} {
  .m-star-your-project {

    .submarine {
      @include place-svg-normal(144px, 0, 69.7%);

      display: block;
    }

    .octopus {
      @include place-svg-normal(39px, 47.4%, 94.7%);

      display: block;
      height: 130px;
    }

    .fish {
      @include place-svg-normal(32px, -1%, 92.7%);

      display: block;
      height: 42px;
    }

    .station {
      left: 5%;
    }

    .whale {
      @include place-svg-normal(84px, 94%, -11px);
      @include transform(scaleX(-1));

      display: block;
      height: 138px;
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-star-your-project {
    .octopus-bubble {
      @include place-svg-normal(38px, 104%, 88%);
    }

    .submarine {
      @include place-svg-normal(164px, -79px, 69%);
    }
  }
}

@media #{$breakpoint-desktop-large} {
  .m-star-your-project {
    .paper-plane {
      @include place-svg-normal(26vw, 71%, 37.7%);
      display: block;
    }

    .submarine {
      @include place-svg-normal(184px, -129px, 72.7%);
    }
  }
}
