.tender-wrapper {
  color: $martinique-dark;
  font-family: $baskerville;

  h2,
  h3,
  h4 {
    font-family: $baskerville-bold;
  }

  h2 {
    display: flex;
    font-size: 22px;
    justify-content: center;
    margin: 22px 0;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    margin: 10px 0;
  }

  h4 {
    font-size: 17px;
    margin: 10px 0;
  }

  ul {
    @include font(16px, 1.7);
  }

  p {
    @include font(16px, 1.7);
    text-align: justify;
  }

  a {
    color: $valencia-red;
    text-decoration: none;
  }

  code {
    background-color: $light-gray-2;
    border: 3px solid $santas-gray;
    border-radius: 4px;
    display: block;
    font-family: $courier;
    padding: 14px 18px;
    text-align: left;
  }

  table,
  tr,
  td {
    border-color: $black;
    border-style: solid;
    border-width: 2px;
    font-size: 16px;
    margin: 30px;
    padding: 10px;
    text-align: center;
    width: 80%;

    th {
      border-color: $black;
      border-style: solid;
      border-width: 2px;
      font-family: $baskerville-bold;
      font-size: 16px;
      padding: 10px;
      text-align: center;
      }
  }
}

.tender-table {
  display: flex;
  justify-content: center;
}

.date {
  @include font(16px, 1.7);
  text-align: right;
}

.download {
  display: flex;
  justify-content: space-around;
}


@media #{$breakpoint-mobile-landscape} {
  .tender-wrapper {
    p {
      font-size: 18px;
    }
  }
}

@media #{$breakpoint-tablet} {
  .tender-wrapper {
    margin: 30px;

    ul {
      font-size: 20px;
      margin: 30px auto;
    }

    p {
      font-size: 22px;
    }

    h2 {
      font-size: 26px;
      margin: 28px 0;
    }

    h3 {
      font-size: 22px;
      margin: 16px auto;
    }

    h4 {
      font-size: 20px;
      margin: 16px auto;
    }
  }
}


@media #{$breakpoint-desktop} {
  .tender-wrapper {
    position: relative;

    a {
      @include link-states($brick-red, $brick-red, $valencia-red);
    }

    p img {
      display: block;
      margin: 1.7vw auto;
    }
  }
}
