.m-team {
  @include flex-justify-content(space-between);
  margin: 0;

  .team-element {
    @include flex-flow(row, wrap);
    @include flex-justify-content(center);
    color: $martinique-dark;
    font-family: $alega-bold;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 40vw;
  }

  .figcaption,
  .m-flipping {
    width: 100%;
  }

  .figcaption {
    height: 30vw;
  }

  .m-flipping {
    height: 40vw;
  }

  .flipping-container {
    @include size(100%, 100%);
  }

  .join-us-element {
    .flipping-front {
      background: image-url('svg/team/guy.svg') no-repeat 52% 66%;
      background-size: 63%;
      border: 4px solid;
      border-radius: 50%;
    }

    .caption {
      font-size: 19px;
    }

    .description {
      border: 0;
    }
  }

  .join-us-link {
    text-decoration: none;
  }


  .flipping-front,
  .flipping-back {
    @include size(100%, 100%);
  }

  .team-member {
    @include background-size(cover);
    @include size(100%, 100%);
    border-radius: 50%;
  }

  .team-member-back {
    border-radius: 50%;
    color: $light-gray;
    display: none;
    font-family: $alega;
    font-size: 28px;
  }

  .description {
    border-bottom: 2px solid $light-gray;
    width: 75%;
  }

  .caption {
    margin-top: 8px;
  }

  .position {
    font-size: 19px;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-team {
    .team-element {
      margin-bottom: 20px;
      width: 44vw;
    }

    .figcaption {
      height: 15vw;
    }

    .m-flipping {
      height: 44vw;
    }

    .join-us-element {
      .caption {
        font-size: 30px;
      }
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-team {
    .team-element {
      margin-bottom: 30px;
      width: 25vw;
    }

    .figcaption {
      height: 15vw;
    }

    .m-flipping {
      height: 25vw;
    }


    .caption {
      margin-top: 20px;
    }

    .description {
      font-size: 22px;
    }

    .join-us-element {
      .description {
        font-size: 30px;
        line-height: 35px;
      }
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-team {
    .figcaption {
      height: 10vw;
    }

    .team-element {
      margin-bottom: 30px;
      width: 20vw;
    }

    .m-flipping {
      height: 20vw;
    }

    .description {
      @include font(22px, 30px);
      margin-top: 10px;
    }
  }
}

@media #{$breakpoint-desktop-large} {
  .m-team {
    .team-element {
      margin-bottom: 50px;
      width: 250px;
    }

    .figcaption {
      height: 90px;
    }

    .m-flipping {
      height: 250px;
    }

    .description {
      font-size: 25px;
    }

    .join-us-element {
      .description {
        font-size: 40px;
        line-height: 44px;
      }
    }
  }
}

.no-touchevents {
  .m-team {
    .team-member-back {
      @include flex-flow(column, nowrap);
      @include flex-justify-content(center);
      @include flex-align-items(center);
    }

    .description {
      @include flex-flow(column-reverse, nowrap);
      height: 55%;
    }

    .filler {
      height: 45%;
    }
  }

  .position {
    display: none;
  }

  .join-us-element {
    .description {
      height: auto;
    }

    .filler {
      display: none;
    }
  }
}
