.m-thank-you {
  color: $martinique-dark;
  font-family: $courier;
  font-size: 16px;
  line-height: 22px;
  padding: 35px 0 114px;
  text-align: center;

  .boss-face {
    border: solid 4px $damask-red;
    border-radius: 50%;
  }
}
