.m-team {
  @include flex-justify-content(space-between);
  margin: 0;

  .team-element {
    color: $martinique-dark;
    font-family: $alega-bold;
    font-size: 30px;
    margin-bottom: 42px;
    text-align: center;
  }

  .join-us-element {
    .flipping-front {
      background: image-url('/stylesheets/svg/guy.svg') no-repeat 52% 66%;
      background-size: 63%;
    }

    .caption {
      font-size: 19px;
    }

    .description {
      border: 0;
    }
  }

  .join-us-link {
    text-decoration: none;
  }

  .m-flipping,
  .flipping-front ,
  .flipping-back {
    @include size(40vw, 40vw);
    border-radius: 50%;
  }

  .team-member {
    @include background-size(cover);

    border: 3px solid;
    border-radius: 50%;
  }

  .team-member-back {
    color: $light-gray;
    display: none;
    font-family: $alega;
    font-size: 28px;
    padding-top: 38%;
  }

  .description {
    border-bottom: 2px solid $light-gray;
    line-height: 40px;
    margin: 0 auto;
    width: 75%;
  }

  .caption {
    margin-top: 8px;
  }

  .position {
    font-size: 19px;
  }
}

// Styles here apply to non-touchscreen devices only.
.no-touchevents {
  .m-team {
    .team-member-back {
      display: none;
    }
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-team {
    .m-flipping,
    .flipping-front ,
    .flipping-back {
      @include size(44vw, 44vw);
    }

    .join-us-element {
      .caption {
        font-size: 30px;
      }
    }
  }
}

@media #{$breakpoint-tablet} {
  .m-team {
    .team-element {
      margin-bottom: 112px;
    }

    .m-flipping,
    .flipping-front ,
    .flipping-back {
      @include size(25vw, 25vw);
    }

    .team-member {
      border-width: 4px;
    }

    .caption {
      margin-top: 20px;
    }

    .position {
      display: none;
    }

    .description {
      font-size: 3vw;
    }

    .join-us-element {
      .description {
        font-size: 4vw;
        line-height: 4.3vw;
      }
    }
  }

  // Styles here apply to non-touchscreen devices only.
  .no-touchevents {
    .m-team {
      .team-member-back {
        display: block;
      }
    }
  }
}

@media #{$breakpoint-desktop} {
  .m-team {
    .m-flipping,
    .flipping-front ,
    .flipping-back {
      @include size(20vw, 20vw);
    }

    .description {
      font-size: 2vw;
    }

    .join-us-element {
      .description {
        font-size: 3vw;
        line-height: 3.3vw;
      }
    }
  }
}

@media #{$breakpoint-desktop-large} {
  .m-team {
    .m-flipping,
    .flipping-front ,
    .flipping-back {
      @include size(250px, 250px);
    }

    .description {
      font-size: 28px;
    }

    .join-us-element {
      .description {
        font-size: 40px;
        line-height: 44px;
      }
    }
  }
}
