.m-thank-you {
  .faces {
    @include flex-flow(row, wrap);
    @include justify-content(center);
  }

  .job-title {
    color: $santas-gray;
    font-family: $alega-bold;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
}

@media #{$breakpoint-mobile-landscape} {
  .m-thank-you {
    .face-container {
      margin: 0 60px;
    }
  }
}
