.m-ventures {
  background: $light-gray;
  height: 100%;

  &.m-yellow-bcg {
    background: $indian-yellow;
    padding: 250px 0 40px;

    @media screen and (min-width: 950px) {
      padding-top: 450px;
    }
  }

  &.m-content-padding {
    padding-bottom: 0;
  }
}
